---
import MarqueeSpeakers from "./MarqueeSpeakers.astro";

interface Speaker {
    name: string;
    position: string;
    company: string;
    image?: string;
}

interface Program {
    title: string;
    description: string;
    time: string;
    duration: string;
    speakers: Speaker[];
}

interface Props {
    item: Program;
    key: string;
}

const { item, key } = Astro.props as Props;
---

<article class="flex flex-col xl:flex-row">
    <div class="xl:w-[10%] pr-10 py-5 xl:border-r-[1px] flex gap-2.5 xl:inline">
        <p class="text-left">{item.time}</p>
        <p class="text-left">
            <svg
                class="inline"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            {item.duration}
        </p>
    </div>
    <div class="xl:w-[90%] xl:pl-5">
        <h3 class="font-semibold text-[#E42128] text-lg pb-2 pt-5">
            {item.title}
        </h3>
        {
            item.description === "" ? (
                ""
            ) : (
                <p class="text-justify">{item.description}</p>
            )
        }
        {
            item.speakers.length === 0 ? (
                ""
            ) : (
                <MarqueeSpeakers speakers={item.speakers} key={key} />
            )
        }
    </div>
</article>
