---
import i18next from 'i18next'

interface Speaker {
  id?: string
  name: string
  position: string
  company: string
  image?: string
}

interface Program {
  title: string
  title_en?: string
  description: string
  description_en?: string
  time: string
  duration: string
  speakers: Speaker[]
}

interface Props {
  item: Program
  key: string
}

function formatString(input: string): string {
  return input
    .trim()
    .trim()
    .toLowerCase()
    .normalize('NFD')
    .replace(/[\u0300-\u036f]/g, '')
    .replace(/\s+/g, '-')
}

const { item, key } = Astro.props as Props
---

<article class='flex flex-col xl:flex-row'>
  <div
    class='xl:w-[10%] pr-10 xl:py-5 border-t-[1px] xl:border-t-0 xl:border-r-[1px] flex gap-2.5 xl:inline pt-5'
  >
    <p class='text-left'>{item.time}</p>
    <p class='text-left'>
      <svg
        class='inline'
        width='20'
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z'></path>
      </svg>
      {item.duration}
    </p>
  </div>
  <div class='xl:w-[90%] xl:pl-5 pt-5'>
    <div
      class='font-semibold text-[#E42128] text-lg pb-2 uppercase'
      set:html={i18next.language === 'es' ? item.title : item.title_en}
    />
    {
      item.description === '' ? (
        ''
      ) : (
        <p class='text-justify' set:html={i18next.language === 'es' ? item.description : item.description_en}>
          
        </p>
      )
    }
    {
      item.speakers.length === 0 ? (
        ''
      ) : (
        <p class="mt-2 font-extrabold">Panelistas: </p>
        <ul class='mt-2 ms-2 gap-2 grid grid-cols-2'>
          {item.speakers.map((speaker) => (
            <li class="mt-2 ">
              <a
              href={`/ponentes/${speaker.id}`}
              class="flex items-center gap-2">
                <img                 
                  class='w-16 h-16 rounded-full object-cover'
                  src={speaker.image}
                  alt={speaker.name}
                />
                <p>
                  {speaker.name}<br />
                  {speaker.position} {speaker.company}
                </p>
              </a>
            </li>
          ))}
        </ul>
      )
    }
  </div>
</article>
