---
import { AddCart } from './AddCart.jsx'
import i18next, { t } from 'i18next'

const translate = t('oktoberfest', { returnObjects: true })

const maincombo = {
  id: 4,
  name: 'COMBO EMPRESARIAL',
  price: 399,
  description:
    'Salchicha blanca o roja asada a la parrilla, con una pieza de pan. Acompañada de col agria y ensalada de papa. INCLUYE TARRO y cerveza de 500ml',
  description_en:
    'Grilled white or red sausage, with a piece of bread. Served with sour cabbage and potato salad. INCLUDES 500ml beer and a 500ml jar.',
  image: '/img/paquete4.webp',
}

const combos = [
  {
    id: 1,
    name: 'Weißwurst mit Kartoffelsalat',
    price: 150,
    description:
      'Salchicha blanca de ternera asada a la parrilla, con una pieza de pan. Acompañada de col agria y ensalada de papa.',
    description_en:
      'Grilled white veal sausage with a piece of bread. Served with sour cabbage and potato salad.',
    image: '/img/paquete1.webp',
  },
  {
    id: 2,
    name: 'Currywurst mit Pommes frites',
    price: 150,
    description:
      'Salchicha roja de cerdo asada a la parrilla, bañada en salsa de curry, servida sobre papas a la francesa.',
    description_en:
      'Grilled red pork sausage, bathed in curry sauce, served over french fries.',
    image: '/img/paquete2.webp',
  },
  {
    id: 3,
    name: 'Eisbein mit Sauerkraut und Bratkartoffeln',
    price: 295,
    description: 'Chamorro de cerdo acompañado de col agria y papas asadas.',
    description_en: 'Pork shank served with sour cabbage and roasted potatoes.',
    image: '/img/paquete3.webp',
  },
]
---

<div
  class='mt-5 w-full max-w-sm border rounded-lg shadow bg-black border-gray-700 mx-auto'
>
  <h5 class='text-xl text-[#F8C600] text-center py-2'>{maincombo.name}</h5>
  <img
    class='rounded-t-lg object-cover w-full h-52 md:h-60'
    src={maincombo.image}
    alt='Paquetes oktoberfest'
  />

  <div class='p-5'>
    <p class='text-white'>
      {
        i18next.language === 'es'
          ? maincombo.description
          : maincombo.description_en
      }
    </p>
    <div class='mt-2 flex items-center justify-between'>
      <span class='text-3xl font-bold text-white'>${maincombo.price}</span>
      <AddCart item={maincombo} translate={translate} client:only />
    </div>
  </div>
</div>

<div class='mt-10 grid lg:grid-cols-2 xl:grid-cols-3 gap-5 justify-center'>
  {
    combos.map((combo) => (
      <div class=' w-full max-w-sm border rounded-lg shadow bg-black border-gray-700'>
        <h5 class='text-xl  text-[#F8C600] text-center py-2 uppercase'>
          {combo.name}
        </h5>
        <img
          class='rounded-t-lg object-cover w-full h-52 md:h-60'
          src={combo.image}
          alt='Paquetes oktoberfest'
        />

        <div class='p-5'>
          <p class='text-white'>
            {i18next.language === 'es'
              ? combo.description
              : combo.description_en}
          </p>
          <div class='mt-2 flex items-center justify-between'>
            <span class='text-3xl font-bold text-white'>${combo.price}</span>
            <AddCart item={combo} translate={translate} client:only />
          </div>
        </div>
      </div>
    ))
  }
</div>
