---
import i18next, { t } from 'i18next'
const lang = i18next.language
const base = i18next.language === 'es' ? '' : `/${lang}`
---

<div class='grid lg:grid-cols-3 gap-10'>
  <div class=''>
    <h3 class='font-bold text-[#e8001e] text-center text-2xl pb-2'>2024</h3>
    <a href={`${base}/galeria/2024`}>
      <img
        src='/img/gallery/2024/itm_2024_3.webp'
        alt='galley 2024'
        class='w-full h-full object-cover'
      />
    </a>
  </div>
  <div class=''>
    <h3 class='font-bold text-[#e8001e] text-center text-2xl pb-2'>
      {t('gallery.year_5')}
    </h3>
    <a href={`${base}/galeria/2023`}>
      <img
        src='/img/gallery/home/galeriaITM4.webp'
        alt='galley 2023'
        class='w-full h-full object-cover'
      />
    </a>
  </div>
  <div class=''>
    <h3 class='font-bold text-[#e8001e] text-center text-2xl pb-2'>
      {t('gallery.year_4')}
    </h3>
    <a href={`${base}/galeria/2022`}
      ><img
        src='/img/gallery/2022/itmgalery-2022.webp'
        alt='galley 2022'
        class='w-full h-full object-cover'
      />
    </a>
  </div>
  <div class=''>
    <h3 class='font-bold text-[#e8001e] text-center text-2xl pb-2'>
      {t('gallery.year_3')}
    </h3>
    <a href={`${base}/galeria/2021`}>
      <img
        src='/img/gallery/2021/itmgalery-2021.webp'
        alt='galley 2021'
        class='w-full h-full object-cover'
      />
    </a>
  </div>
  <div class=''>
    <h3 class='font-bold text-[#e8001e] text-center text-2xl pb-2'>
      {t('gallery.year_2')}
    </h3>
    <a href={`${base}/galeria/2020`}>
      <img
        src='/img/gallery/2020/itmgalery-2020.webp'
        alt='galley 2020'
        class='w-full h-full object-cover'
      />
    </a>
  </div>
  <div class=''>
    <h3 class='font-bold text-[#e8001e] text-center text-2xl pb-2'>
      {t('gallery.year_1')}
    </h3>
    <a href={`${base}/galeria/2019`}>
      <img
        src='/img/gallery/2019/itmgalery-2019.webp'
        alt='galley 2019'
        class='w-full h-full object-cover'
      />
    </a>
  </div>
</div>
