---
import programs from "../../data/constans_program.ts";
import Button from "../../components/schedule/Button.astro";
import ConferenceITM from "../../components/schedule/ConferenceITM.tsx";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");

// Usa el Record<string, string> para que puedas usar el t() sin problemas en React con TypeScript
const translate = t("program", { returnObjects: true }) as Record<string, string>;
---

<Layout title={`ITM | ${t("program.title")}`}>
  <main class="mx-5 md:mx-16 lg:mx-32 pb-5">
    <h1 class="text-left text-[#E42128] text-5xl font-extrabold py-5">
      {t("program.title")}
    </h1>
    <p class="italic mb-5 text-lg">* {t("program.changes")}</p>
    <section>
      <h3 class="text-3xl pb-3">{t("program.stages")}</h3>
      <div class="md:ml-5">
        <Button id="stage-1">Transformation Area</Button>
        <Button id="stage-2">Leaders of Tomorrow Arena</Button>
      </div>
      <div
        class="w-full bg-gradient-to-br from-[#E42128] to-[#CF1363] h-[1px] mt-1 mb-3 rounded-sm"
      >
      </div>
      <div class="md:ml-5 *:w-full md:*:w-fit">
        <Button id="day-1"
          >{t("program.day")} 1<br />{t("program.day_1")}, 11 {
            t("program.month")
          }</Button
        >
        <Button id="day-2"
          >{t("program.day")} 2<br />{t("program.day_2")}, 12 {
            t("program.month")
          }</Button
        >
        <Button id="day-3"
          >{t("program.day")} 3<br />{t("program.day_3")}, 13 {
            t("program.month")
          }</Button
        >
      </div>
      {
        programs.map((program) => (
          <section
            class="mt-5 hidden"
            id={`program-${program.stage}-${program.day}`}
          >
            {program.conferences.map((item) => (
              <ConferenceITM
                item={item}
                translate={translate}
                language={i18next.language}
                client:only
              />
            ))}
          </section>
        ))
      }
    </section>
  </main>
</Layout>
<style>
  body {
    background-color: #111827;
    color: white;
  }
</style>

<script>
  //inicializa parámetros por default
  let currentStage = "1";
  let currentDay = "1";
  document.getElementById('stage-1')?.firstElementChild?.classList.add('bg-opacity-0');
  document.getElementById('day-1')?.firstElementChild?.classList.add('bg-opacity-0');

  const updateView = () => {
    //oculta todos los elementos del programa
    document
      .querySelectorAll('[id^="program-"]')
      .forEach((item) => item.classList.add("hidden"));
      //solo muestra el seleccionado
    const id = `program-${currentStage}-${currentDay}`;
    const target = document.getElementById(id);
    if (target) target.classList.remove("hidden");
  };

  document.addEventListener("DOMContentLoaded", () => {
    const stageButtons = document.querySelectorAll('button[id^="stage-"]');
    const dayButtons = document.querySelectorAll('button[id^="day-"]');

    stageButtons.forEach((btn) => {
      //al stage clickeado se agrega la opacidad del fondo a 0 
      btn.addEventListener("click", () => {
        currentStage = btn.id.split("-")[1];
        document.getElementById('stage-1')?.firstElementChild?.classList.remove('bg-opacity-0');
        document.getElementById('stage-2')?.firstElementChild?.classList.remove('bg-opacity-0');
        document.getElementById(`stage-${currentStage}`)?.firstElementChild?.classList.add('bg-opacity-0');
        updateView();
      });
    });

    dayButtons.forEach((btn) => {
      //al día clickeado se agrega la opacidad del fondo a 0
      btn.addEventListener("click", () => {
        currentDay = btn.id.split("-")[1];
        document.getElementById('day-1')?.firstElementChild?.classList.remove('bg-opacity-0');
        document.getElementById('day-2')?.firstElementChild?.classList.remove('bg-opacity-0');
        document.getElementById('day-3')?.firstElementChild?.classList.remove('bg-opacity-0');
        document.getElementById(`day-${currentDay}`)?.firstElementChild?.classList.add('bg-opacity-0');
        updateView();
      });
    });

    updateView();
  });
</script>
