---
import { changeLanguage, t } from "i18next";
import Hero from "../components/home/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Sponsors from "../components/home/Sponsors.astro";
import WhyParticipate from "../components/home/WhyParticipate.astro";
import OtherEvents from "../components/home/OtherEvents.astro";
import Gallery from "../components/shared/Gallery";
import { home } from "../data/constans_gallery.js";
import Score from "../components/home/Score.astro";
import Marquee from "../components/shared/Marquee.astro";
import { media_1, media_2, alliesStrategic } from "../data/constans_logos";
import VideoMain from "../components/home/VideoMain.astro";
import Testimonials from "../components/home/Testimonials.astro";
import BecomeAnExhibitor from "../components/exhibitor-profile/BecomeAnExhibitor.astro";
import Buyers from "../components/home/Buyers.astro";
import TestimonialVisitor from "../components/home/TestimonialVisitor.astro";

changeLanguage("es");
---

<Layout title='ITM 2024 | Home'>
  <main>
    <Hero />
    <OtherEvents />
    <VideoMain />
    <Score />
    <Sponsors />
    <BecomeAnExhibitor />
    <WhyParticipate />
    <Testimonials />
    <Buyers />
    <TestimonialVisitor />
    <p class='mt-10 text-center text-[#E8001E] font-bold text-3xl mb-5'>
      {t('home.strategic_allies')}
    </p>
    <Marquee partners={alliesStrategic} isLeftToRight={true} />
    <p class='mt-10 text-center text-[#E8001E] font-bold text-3xl mb-5'>
      {t('home.platinum_media')}
    </p>
    <Marquee partners={media_1} isLeftToRight={true} />
    <Marquee partners={media_2} isLeftToRight={false} />
    <p class='mt-10 text-center text-[#E8001E] font-bold text-3xl'>
      Highlights ITM 2023
    </p>
    <Gallery
      images={home}
      galleryID='gallery'
      client:only='react'
      class='py-10'
    />
    <section
      class='container mx-auto px-4 py-5 grid md:grid-cols-2 text-2xl text-center font-bold'
    >
      <div class='grid place-items-center place-content-center'>
        <img src='/ederRangel.png' alt='Eder Raúl Rangel Déziga' width='150' />
        <p>{t('home.contact_mexico_latam')}</p>
        <p class='mt-2 text-lg'>
          Eder Raúl Rangel Déziga<br />
          Tel. +52 55 7028 3335 ext. 809
        </p>
        <a class='text-[#E8001E]' href='mailto:eder.rangel@igeco.mx'
          >eder.rangel@igeco.mx</a
        >
      </div>
      <div class='grid place-items-center place-content-center'>
        <img src='/simoneRobering.webp' alt='Simone Robering' width='160' />
        <p>{t('home.contact_international')}</p>
        <p class='mt-2 text-lg'>
          Simone Robering<br />
          Tel. +49 511 89 33128
        </p>
        <a class='text-[#E8001E]' href='mailto:simone.Robering@messe.de'
          >simone.robering@messe.de</a
        >
      </div>
    </section>
  </main>
</Layout>

<style></style>
