---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import { hotels, Start } from "@/data/constans_hotels";

changeLanguage("es");

const lang = i18next.language;
const base = i18next.language === "es" ? "" : `/${lang}`;
---

<Layout title={`ITM 2025 | ${t('menu.visitors_1')}`}>
  <main
    class='bg-black bg-cover bg-no-repeat bg-center bg-fixed pb-5 pt-5 px-5 md:px-20 lg:32'
  >
    <section>
      <h1 class='text-white text-4xl font-bold inline uppercase'>
        {t('visitorReasons.title_1')}
      </h1>
      <h2 class='text-white text-2xl font-semibold pt-2'>
        {t('visitorReasons.title_2')}
      </h2>
      <p class='text-white pt-5'>{t('visitorReasons.description_1')}</p>
      <div class='text-white flex flex-wrap pt-5'>
        <div class='md:w-1/2'>
          <div class='flex items-center'>
            <img
              class='h-16 pr-2'
              src='/img/whyvisit_1.png'
              alt='digital transformation'
            />{t('visitorReasons.description_4')}
          </div>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_2.png'
              alt='digital transformation'
            />{t('visitorReasons.description_5')}
          </div>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_3.png'
              alt='digital transformation'
            />{t('visitorReasons.description_6')}
          </div>
        </div>
        <div class='md:w-1/2'>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_4.png'
              alt='digital transformation'
            />{t('visitorReasons.description_7')}
          </div>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_5.png'
              alt='digital transformation'
            />{t('visitorReasons.description_8')}
          </div>
          <li class='flex items-center'>
            <div>
              <svg
                class='h-16 pr-2'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
                fill='#ffffff'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                  ><path
                    d='M2.898 12.581a2.467 2.467 0 0 1 2.073-.538 2.38 2.38 0 0 1 1.42.871l.419-1.023a3.39 3.39 0 0 0-.707-.489 2.5 2.5 0 1 0-3.215-.006 3.454 3.454 0 0 0-.631.418A3.491 3.491 0 0 0 1 14.5V16h1v-1.5a2.492 2.492 0 0 1 .898-1.919zM3 9.5A1.5 1.5 0 1 1 4.5 11 1.502 1.502 0 0 1 3 9.5zm18.103 1.902a2.5 2.5 0 1 0-3.215-.007 3.448 3.448 0 0 0-.631.419c-.026.021-.044.05-.07.072l.412 1.006a2.407 2.407 0 0 1 2.372-.849A2.608 2.608 0 0 1 22 14.646V16h1v-1.354a3.647 3.647 0 0 0-1.897-3.244zM18 9.5a1.5 1.5 0 1 1 1.5 1.5A1.502 1.502 0 0 1 18 9.5zM10 9V8a1.99 1.99 0 0 1 .764-1.572 2.02 2.02 0 0 1 1.739-.367A2.08 2.08 0 0 1 14 8.119V9h1v-.88a3.173 3.173 0 0 0-1.445-2.678 2.5 2.5 0 1 0-3.1.009 2.956 2.956 0 0 0-.31.192A2.984 2.984 0 0 0 9 8v1zm.5-5.5A1.5 1.5 0 1 1 12 5a1.502 1.502 0 0 1-1.5-1.5zm9.463 17.81l-.926.38L14.664 11H9.336L4.963 21.69l-.926-.38L8.41 10.622A.997.997 0 0 1 9.336 10h5.328a.996.996 0 0 1 .925.62z'
                  ></path><path fill='none' d='M0 0h24v24H0z'></path></g
                ></svg
              >
            </div>
            {t('visitorReasons.description_9')}
          </li>
        </div>
      </div>
    </section>
    <div class='text-white text-center mt-10'>
      <p class='my-5 text-white text-xl pe-5 text-center'>
        * {t('home.date_text_cost')}
      </p>
      <p class='text-lg'>
        {t('footer.dateFooter')}
      </p>
      <p set:html={t('home.dateEvent')} />
      <p class='mt-5 font-bold flex justify-center items-center gap-2 text-lg'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='size-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'></path>
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'
          ></path>
        </svg>
        Centro Banamex, CDMX, México
      </p>
      <a
        href={`${base}/registro`}
        class='mt-10 card p-5 hover:scale-105 ease-in-out duration-300 mx-auto w-fit'
      >
        <span class='text-white z-10 font-extrabold text-3xl'
          >{t('register.button_register')}</span
        >
      </a>
    </div>

    <section class='mt-10'>
      <div class='pt-5'>
        <h2 class='text-white text-4xl font-bold uppercase'>
          {t('visitorProfile.buyers.title')}
        </h2>

        <div class='text-white *:pt-2 list-disc ps-5'>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z'
              ></path>
            </svg>
            {t('visitorProfile.buyers.item_1')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z'
              ></path>
            </svg>

            {t('visitorProfile.buyers.item_4')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z'
              ></path>
            </svg>

            {t('visitorProfile.buyers.item_5')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0 0 20.25 18V6A2.25 2.25 0 0 0 18 3.75H6A2.25 2.25 0 0 0 3.75 6v12A2.25 2.25 0 0 0 6 20.25Z'
              ></path>
            </svg>
            {t('visitorProfile.buyers.item_6')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M11.42 15.17 17.25 21A2.652 2.652 0 0 0 21 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 1 1-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 0 0 4.486-6.336l-3.276 3.277a3.004 3.004 0 0 1-2.25-2.25l3.276-3.276a4.5 4.5 0 0 0-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437 1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008Z'
              ></path>
            </svg>

            {t('visitorProfile.buyers.item_7')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              fill='white'
              class='h-10 w-10'
              viewBox='0 0 24 24'
              xmlns='http://www.w3.org/2000/svg'
              ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                id='SVGRepo_tracerCarrier'
                stroke-linecap='round'
                stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                ><path
                  d='M22,1H18a1,1,0,0,0-1,1V9H15V7a1,1,0,0,0-1.447-.895L9,8.382V7a1,1,0,0,0-1.447-.895l-6,3A1,1,0,0,0,1,10V22a1,1,0,0,0,1,1H22a1,1,0,0,0,1-1V2A1,1,0,0,0,22,1ZM21,3V5H19V3ZM3,21V10.618l4-2V10a1,1,0,0,0,1.447.895L13,8.618V10a1,1,0,0,0,1,1h4a1,1,0,0,0,1-1V7h2V21Zm2-8H8v2H5Zm5,0h4v2H10Zm6,0h3v2H16ZM5,17H8v2H5Zm5,0h4v2H10Zm6,0h3v2H16Z'
                ></path></g
              ></svg
            >
            {t('visitorProfile.buyers.item_8')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z'
              ></path>
            </svg>

            {t('visitorProfile.buyers.item_9')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25'
              ></path>
            </svg>

            {t('visitorProfile.buyers.item_10')}
          </li>
          <li class='flex items-center gap-5'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='currentColor'
              class='h-10 w-10'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z'
              ></path>
            </svg>
            {t('visitorProfile.buyers.item_11')}
          </li>
        </div>
        <h5 class='text-white font-bold uppercase text-xl pt-5'>
          {t('visitorProfile.buyers.item_2')}
        </h5>
        <p class='text-white pt-2'>{t('visitorProfile.buyers.item_3')}</p>
        <div class='flex flex-wrap items-center gap-5 pt-5'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><rect x='1' y='4' width='30' height='24' rx='4' ry='4' fill='#fff'
            ></rect><path
              d='M1.638,5.846H30.362c-.711-1.108-1.947-1.846-3.362-1.846H5c-1.414,0-2.65,.738-3.362,1.846Z'
              fill='#a62842'></path><path
              d='M2.03,7.692c-.008,.103-.03,.202-.03,.308v1.539H31v-1.539c0-.105-.022-.204-.03-.308H2.03Z'
              fill='#a62842'></path><path
              fill='#a62842'
              d='M2 11.385H31V13.231H2z'></path><path
              fill='#a62842'
              d='M2 15.077H31V16.923000000000002H2z'></path><path
              fill='#a62842'
              d='M1 18.769H31V20.615H1z'></path><path
              d='M1,24c0,.105,.023,.204,.031,.308H30.969c.008-.103,.031-.202,.031-.308v-1.539H1v1.539Z'
              fill='#a62842'></path><path
              d='M30.362,26.154H1.638c.711,1.108,1.947,1.846,3.362,1.846H27c1.414,0,2.65-.738,3.362-1.846Z'
              fill='#a62842'></path><path
              d='M5,4h11v12.923H1V8c0-2.208,1.792-4,4-4Z'
              fill='#102d5e'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path><path
              fill='#fff'
              d='M4.601 7.463L5.193 7.033 4.462 7.033 4.236 6.338 4.01 7.033 3.279 7.033 3.87 7.463 3.644 8.158 4.236 7.729 4.827 8.158 4.601 7.463z'
            ></path><path
              fill='#fff'
              d='M7.58 7.463L8.172 7.033 7.441 7.033 7.215 6.338 6.989 7.033 6.258 7.033 6.849 7.463 6.623 8.158 7.215 7.729 7.806 8.158 7.58 7.463z'
            ></path><path
              fill='#fff'
              d='M10.56 7.463L11.151 7.033 10.42 7.033 10.194 6.338 9.968 7.033 9.237 7.033 9.828 7.463 9.603 8.158 10.194 7.729 10.785 8.158 10.56 7.463z'
            ></path><path
              fill='#fff'
              d='M6.066 9.283L6.658 8.854 5.927 8.854 5.701 8.158 5.475 8.854 4.744 8.854 5.335 9.283 5.109 9.979 5.701 9.549 6.292 9.979 6.066 9.283z'
            ></path><path
              fill='#fff'
              d='M9.046 9.283L9.637 8.854 8.906 8.854 8.68 8.158 8.454 8.854 7.723 8.854 8.314 9.283 8.089 9.979 8.68 9.549 9.271 9.979 9.046 9.283z'
            ></path><path
              fill='#fff'
              d='M12.025 9.283L12.616 8.854 11.885 8.854 11.659 8.158 11.433 8.854 10.702 8.854 11.294 9.283 11.068 9.979 11.659 9.549 12.251 9.979 12.025 9.283z'
            ></path><path
              fill='#fff'
              d='M6.066 12.924L6.658 12.494 5.927 12.494 5.701 11.799 5.475 12.494 4.744 12.494 5.335 12.924 5.109 13.619 5.701 13.19 6.292 13.619 6.066 12.924z'
            ></path><path
              fill='#fff'
              d='M9.046 12.924L9.637 12.494 8.906 12.494 8.68 11.799 8.454 12.494 7.723 12.494 8.314 12.924 8.089 13.619 8.68 13.19 9.271 13.619 9.046 12.924z'
            ></path><path
              fill='#fff'
              d='M12.025 12.924L12.616 12.494 11.885 12.494 11.659 11.799 11.433 12.494 10.702 12.494 11.294 12.924 11.068 13.619 11.659 13.19 12.251 13.619 12.025 12.924z'
            ></path><path
              fill='#fff'
              d='M13.539 7.463L14.13 7.033 13.399 7.033 13.173 6.338 12.947 7.033 12.216 7.033 12.808 7.463 12.582 8.158 13.173 7.729 13.765 8.158 13.539 7.463z'
            ></path><path
              fill='#fff'
              d='M4.601 11.104L5.193 10.674 4.462 10.674 4.236 9.979 4.01 10.674 3.279 10.674 3.87 11.104 3.644 11.799 4.236 11.369 4.827 11.799 4.601 11.104z'
            ></path><path
              fill='#fff'
              d='M7.58 11.104L8.172 10.674 7.441 10.674 7.215 9.979 6.989 10.674 6.258 10.674 6.849 11.104 6.623 11.799 7.215 11.369 7.806 11.799 7.58 11.104z'
            ></path><path
              fill='#fff'
              d='M10.56 11.104L11.151 10.674 10.42 10.674 10.194 9.979 9.968 10.674 9.237 10.674 9.828 11.104 9.603 11.799 10.194 11.369 10.785 11.799 10.56 11.104z'
            ></path><path
              fill='#fff'
              d='M13.539 11.104L14.13 10.674 13.399 10.674 13.173 9.979 12.947 10.674 12.216 10.674 12.808 11.104 12.582 11.799 13.173 11.369 13.765 11.799 13.539 11.104z'
            ></path><path
              fill='#fff'
              d='M4.601 14.744L5.193 14.315 4.462 14.315 4.236 13.619 4.01 14.315 3.279 14.315 3.87 14.744 3.644 15.44 4.236 15.01 4.827 15.44 4.601 14.744z'
            ></path><path
              fill='#fff'
              d='M7.58 14.744L8.172 14.315 7.441 14.315 7.215 13.619 6.989 14.315 6.258 14.315 6.849 14.744 6.623 15.44 7.215 15.01 7.806 15.44 7.58 14.744z'
            ></path><path
              fill='#fff'
              d='M10.56 14.744L11.151 14.315 10.42 14.315 10.194 13.619 9.968 14.315 9.237 14.315 9.828 14.744 9.603 15.44 10.194 15.01 10.785 15.44 10.56 14.744z'
            ></path><path
              fill='#fff'
              d='M13.539 14.744L14.13 14.315 13.399 14.315 13.173 13.619 12.947 14.315 12.216 14.315 12.808 14.744 12.582 15.44 13.173 15.01 13.765 15.44 13.539 14.744z'
            ></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#fff' d='M8 4H24V28H8z'></path><path
              d='M5,4h4V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              fill='#c53a28'></path><path
              d='M27,4h4V28h-4c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 27 16)'
              fill='#c53a28'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M16.275,22.167l-.138-2.641c-.007-.16,.117-.296,.277-.304,.021,0,.042,0,.063,.004l2.629,.462-.355-.979c-.03-.08-.005-.17,.061-.223l2.88-2.332-.649-.303c-.091-.043-.135-.146-.104-.242l.569-1.751-1.659,.352c-.093,.019-.186-.029-.223-.116l-.321-.756-1.295,1.389c-.076,.08-.201,.083-.281,.007-.049-.047-.071-.115-.058-.182l.624-3.22-1.001,.578c-.095,.056-.217,.024-.272-.071-.002-.004-.004-.008-.006-.012l-1.016-1.995-1.016,1.995c-.049,.098-.169,.138-.267,.089-.004-.002-.008-.004-.012-.006l-1.001-.578,.624,3.22c.021,.108-.05,.212-.158,.233-.067,.013-.135-.009-.182-.058l-1.295-1.389-.321,.756c-.037,.087-.131,.136-.223,.116l-1.659-.352,.569,1.751c.031,.095-.013,.199-.104,.242l-.649,.303,2.88,2.332c.066,.054,.091,.144,.061,.223l-.355,.979,2.629-.462c.158-.027,.309,.079,.336,.237,.004,.021,.005,.042,.004,.063l-.138,2.641h.551Z'
              fill='#c53a28'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><rect
              x='1'
              y='4'
              width='30'
              height='24'
              rx='4'
              ry='4'
              fill='#db362f'></rect><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              fill='#ff0'
              d='M7.958 10.152L7.19 7.786 6.421 10.152 3.934 10.152 5.946 11.614 5.177 13.979 7.19 12.517 9.202 13.979 8.433 11.614 10.446 10.152 7.958 10.152z'
            ></path><path
              fill='#ff0'
              d='M12.725 8.187L13.152 8.898 13.224 8.072 14.032 7.886 13.269 7.562 13.342 6.736 12.798 7.361 12.035 7.037 12.461 7.748 11.917 8.373 12.725 8.187z'
            ></path><path
              fill='#ff0'
              d='M14.865 10.372L14.982 11.193 15.37 10.46 16.187 10.602 15.61 10.007 15.997 9.274 15.253 9.639 14.675 9.044 14.793 9.865 14.048 10.23 14.865 10.372z'
            ></path><path
              fill='#ff0'
              d='M15.597 13.612L16.25 13.101 15.421 13.13 15.137 12.352 14.909 13.149 14.081 13.179 14.769 13.642 14.541 14.439 15.194 13.928 15.881 14.391 15.597 13.612z'
            ></path><path
              fill='#ff0'
              d='M13.26 15.535L13.298 14.707 12.78 15.354 12.005 15.062 12.46 15.754 11.942 16.402 12.742 16.182 13.198 16.875 13.236 16.047 14.036 15.827 13.26 15.535z'
            ></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#cc2b1d' d='M1 11H31V21H1z'></path><path
              d='M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z'
            ></path><path
              d='M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 16 24)'
              fill='#f8d147'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#fff' d='M10 4H22V28H10z'></path><path
              d='M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              fill='#41914d'></path><path
              d='M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 26 16)'
              fill='#bf393b'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#fff' d='M10 4H22V28H10z'></path><path
              d='M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              fill='#092050'></path><path
              d='M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 26 16)'
              fill='#be2a2c'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><rect x='1' y='4' width='30' height='24' rx='4' ry='4' fill='#fff'
            ></rect><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><circle cx='16' cy='16' r='6' fill='#ae232f'
            ></circle><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#fff' d='M1 11H31V21H1z'></path><path
              d='M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z'
              fill='#e06535'></path><path
              d='M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 16 24)'
              fill='#2c6837'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M16,12.292c-2.048,0-3.708,1.66-3.708,3.708s1.66,3.708,3.708,3.708,3.708-1.66,3.708-3.708-1.66-3.708-3.708-3.708Zm3.041,4.109c-.01,.076,.042,.145,.117,.157-.033,.186-.08,.367-.143,.54-.071-.028-.152,.006-.181,.077-.029,.071,.004,.151,.073,.182-.04,.085-.083,.167-.13,.248l-1.611-1.069-.592-.249c.013-.026,.024-.053,.034-.081l.595,.242,1.895,.383-1.833-.616-.636-.087c.006-.028,.009-.057,.011-.087l.638,.08,1.93-.12-1.93-.12-.638,.08c-.002-.03-.005-.059-.011-.087l.636-.087,1.833-.616-1.895,.383-.595,.242c-.009-.028-.021-.055-.034-.081l.592-.249,1.611-1.069c.047,.081,.09,.163,.13,.248-.07,.031-.103,.111-.073,.182,.029,.071,.11,.105,.181,.077,.063,.173,.111,.354,.143,.54-.075,.012-.127,.081-.117,.157,.01,.076,.078,.129,.154,.121,.008,.092,.013,.185,.013,.279s-.005,.187-.013,.279c-.075-.008-.144,.045-.154,.121Zm-.584-2.462c-.059,.048-.07,.134-.023,.194,.046,.06,.132,.072,.194,.028,.053,.076,.104,.155,.15,.236l-1.731,.861-.512,.388c-.016-.024-.034-.047-.054-.069l.508-.394,1.28-1.45-1.45,1.28-.394,.508c-.022-.019-.045-.038-.069-.054l.388-.512,.861-1.731c.081,.047,.16,.097,.236,.15-.045,.061-.033,.147,.028,.194,.061,.046,.147,.036,.194-.023,.071,.06,.141,.123,.207,.189,.066,.066,.129,.135,.189,.207Zm-2.177-1.133c-.008,.075,.045,.144,.121,.154,.076,.01,.145-.042,.157-.117,.186,.033,.367,.08,.54,.143-.028,.071,.006,.152,.077,.181,.071,.029,.151-.004,.182-.073,.085,.04,.167,.083,.248,.13l-1.069,1.611-.249,.592c-.026-.013-.053-.024-.081-.034l.242-.595,.383-1.895-.616,1.833-.087,.636c-.028-.006-.057-.009-.087-.011l.08-.638-.12-1.93-.12,1.93,.08,.638c-.03,.002-.059,.005-.087,.011l-.087-.636-.616-1.833,.383,1.895,.242,.595c-.028,.009-.055,.021-.081,.034l-.249-.592-1.069-1.611c.081-.047,.163-.09,.248-.13,.031,.07,.111,.103,.182,.073,.071-.029,.105-.11,.077-.181,.173-.063,.354-.111,.54-.143,.012,.075,.081,.127,.157,.117,.076-.01,.129-.078,.121-.154,.092-.008,.185-.013,.279-.013s.187,.005,.279,.013Zm-3.113,4.368c-.029-.071-.11-.105-.181-.077-.063-.173-.111-.354-.143-.54,.075-.012,.127-.081,.117-.157-.01-.076-.078-.129-.154-.121-.008-.092-.013-.185-.013-.279s.005-.187,.013-.279c.075,.008,.144-.045,.154-.121,.01-.076-.042-.145-.117-.157,.033-.186,.08-.367,.143-.54,.071,.028,.152-.006,.181-.077,.029-.071-.004-.151-.073-.182,.04-.085,.083-.167,.13-.248l1.611,1.069,.592,.249c-.013,.026-.024,.053-.034,.081l-.595-.242-1.895-.383,1.833,.616,.636,.087c-.006,.028-.009,.057-.011,.087l-.638-.08-1.93,.12,1.93,.12,.638-.08c.002,.03,.005,.059,.011,.087l-.636,.087-1.833,.616,1.895-.383,.595-.242c.009,.028,.021,.055,.034,.081l-.592,.249-1.611,1.069c-.047-.081-.09-.163-.13-.248,.07-.031,.103-.111,.073-.182Zm.772-3.63c.048,.059,.134,.07,.194,.023,.06-.046,.072-.132,.028-.194,.076-.053,.155-.104,.236-.15l.861,1.731,.388,.512c-.024,.016-.047,.034-.069,.054l-.394-.508-1.45-1.28,1.28,1.45,.508,.394c-.019,.022-.038,.045-.054,.069l-.512-.388-1.731-.861c.047-.081,.097-.16,.15-.236,.061,.045,.147,.033,.194-.028,.046-.061,.036-.147-.023-.194,.06-.071,.123-.141,.189-.207s.135-.129,.207-.189Zm-.395,4.518c.059-.048,.07-.134,.023-.194-.046-.06-.132-.072-.194-.028-.053-.076-.104-.155-.15-.236l1.731-.861,.512-.388c.016,.024,.034,.047,.054,.069l-.508,.394-1.28,1.45,1.45-1.28,.394-.508c.022,.019,.045,.038,.069,.054l-.388,.512-.861,1.731c-.081-.047-.16-.097-.236-.15,.045-.061,.033-.147-.028-.194-.061-.046-.147-.036-.194,.023-.071-.06-.141-.123-.207-.189-.066-.066-.129-.135-.189-.207Zm2.177,1.133c.008-.075-.045-.144-.121-.154-.076-.01-.145,.042-.157,.117-.186-.033-.367-.08-.54-.143,.028-.071-.006-.152-.077-.181-.071-.029-.151,.004-.182,.073-.085-.04-.167-.083-.248-.13l1.069-1.611,.249-.592c.026,.013,.053,.024,.081,.034l-.242,.595-.383,1.895,.616-1.833,.087-.636c.028,.006,.057,.009,.087,.011l-.08,.638,.12,1.93,.12-1.93-.08-.638c.03-.002,.059-.005,.087-.011l.087,.636,.616,1.833-.383-1.895-.242-.595c.028-.009,.055-.021,.081-.034l.249,.592,1.069,1.611c-.081,.047-.163,.09-.248,.13-.031-.07-.111-.103-.182-.073-.071,.029-.105,.11-.077,.181-.173,.063-.354,.111-.54,.143-.012-.075-.081-.127-.157-.117-.076,.01-.129,.078-.121,.154-.092,.008-.185,.013-.279,.013s-.187-.005-.279-.013Zm2.341-.738c-.048-.059-.134-.07-.194-.023-.06,.046-.072,.132-.028,.194-.076,.053-.155,.104-.236,.15l-.861-1.731-.388-.512c.024-.016,.047-.034,.069-.054l.394,.508,1.45,1.28-1.28-1.45-.508-.394c.019-.022,.038-.045,.054-.069l.512,.388,1.731,.861c-.047,.081-.097,.16-.15,.236-.061-.045-.147-.033-.194,.028-.046,.061-.036,.147,.023,.194-.06,.071-.123,.141-.189,.207s-.135,.129-.207,.189Z'
              fill='#2c2c6b'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#fff' d='M10 4H22V28H10z'></path><path
              d='M5,4h6V28H5c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              fill='#c82c2b'></path><path
              d='M25,4h6V28h-6c-2.208,0-4-1.792-4-4V8c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 26 16)'
              fill='#c82c2b'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path fill='#091e79' d='M1 11H31V21H1z'></path><path
              d='M5,4H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z'
              fill='#f7cf46'></path><path
              d='M5,20H27c2.208,0,4,1.792,4,4v4H1v-4c0-2.208,1.792-4,4-4Z'
              transform='rotate(180 16 24)'
              fill='#bf2c30'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path><path
              fill='#fff'
              d='M10.207 17.715L10.022 17.068 9.792 17.701 9.119 17.677 9.649 18.092 9.419 18.724 9.977 18.348 10.508 18.762 10.322 18.115 10.88 17.739 10.207 17.715z'
            ></path><path
              fill='#fff'
              d='M11.463 16.039L11.557 15.373 11.089 15.857 10.484 15.561 10.8 16.156 10.331 16.639 10.994 16.523 11.31 17.118 11.404 16.451 12.068 16.335 11.463 16.039z'
            ></path><path
              fill='#fff'
              d='M13.195 14.795L13.469 14.18 12.886 14.517 12.386 14.066 12.526 14.725 11.943 15.061 12.612 15.132 12.752 15.79 13.026 15.175 13.696 15.245 13.195 14.795z'
            ></path><path
              fill='#fff'
              d='M15.034 13.832L14.718 13.238 14.624 13.904 13.961 14.021 14.566 14.316 14.472 14.983 14.94 14.499 15.545 14.794 15.229 14.199 15.697 13.715 15.034 13.832z'
            ></path><path
              fill='#fff'
              d='M22.351 18.092L22.881 17.677 22.208 17.701 21.978 17.068 21.793 17.715 21.12 17.739 21.678 18.115 21.492 18.762 22.023 18.348 22.581 18.724 22.351 18.092z'
            ></path><path
              fill='#fff'
              d='M21.006 16.523L21.669 16.639 21.2 16.156 21.516 15.561 20.911 15.857 20.443 15.373 20.537 16.039 19.932 16.335 20.596 16.451 20.69 17.118 21.006 16.523z'
            ></path><path
              fill='#fff'
              d='M19.388 15.132L20.057 15.061 19.474 14.725 19.614 14.066 19.114 14.517 18.531 14.18 18.805 14.795 18.304 15.245 18.974 15.175 19.248 15.79 19.388 15.132z'
            ></path><path
              fill='#fff'
              d='M17.376 13.904L17.282 13.238 16.966 13.832 16.303 13.715 16.771 14.199 16.455 14.794 17.06 14.499 17.528 14.983 17.434 14.316 18.039 14.021 17.376 13.904z'
            ></path></svg
          >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='64'
            height='64'
            viewBox='0 0 32 32'
            ><path
              d='M1,24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4v-3H1v3Z'
              fill='#b92932'></path><path fill='#0f2c83' d='M1 15H31V22H1z'
            ></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4v8H31V8c0-2.209-1.791-4-4-4Z'
              fill='#f8d047'></path><path
              d='M27,4H5c-2.209,0-4,1.791-4,4V24c0,2.209,1.791,4,4,4H27c2.209,0,4-1.791,4-4V8c0-2.209-1.791-4-4-4Zm3,20c0,1.654-1.346,3-3,3H5c-1.654,0-3-1.346-3-3V8c0-1.654,1.346-3,3-3H27c1.654,0,3,1.346,3,3V24Z'
              opacity='.15'></path><path
              d='M27,5H5c-1.657,0-3,1.343-3,3v1c0-1.657,1.343-3,3-3H27c1.657,0,3,1.343,3,3v-1c0-1.657-1.343-3-3-3Z'
              fill='#fff'
              opacity='.2'></path></svg
          >
        </div>
        <div class='pt-5'>
          <h2 class='text-white text-4xl font-bold uppercase'>
            {t('visitorProfile.industry.title')}
          </h2>
          <div
            class='mt-10 text-white *:pt-2 grid lg:grid-cols-6 gap-8 uppercase font-bold'
          >
            <div class='text-center'>
              <img
                src='/img/industria_1.webp'
                alt={t('visitorProfile.industry.item_1')}
              />
              {t('visitorProfile.industry.item_1')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_2.webp'
                alt={t('visitorProfile.industry.item_2')}
              />
              {t('visitorProfile.industry.item_2')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_3.webp'
                alt={t('visitorProfile.industry.item_3')}
              />
              {t('visitorProfile.industry.item_3')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_4.webp'
                alt={t('visitorProfile.industry.item_4')}
              />
              {t('visitorProfile.industry.item_4')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_5.webp'
                alt={t('visitorProfile.industry.item_5')}
              />
              {t('visitorProfile.industry.item_5')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_6.webp'
                alt={t('visitorProfile.industry.item_6')}
              />
              {t('visitorProfile.industry.item_6')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_7.webp'
                alt={t('visitorProfile.industry.item_7')}
              />
              {t('visitorProfile.industry.item_7')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_8.webp'
                alt={t('visitorProfile.industry.item_10')}
              />
              {t('visitorProfile.industry.item_10')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_9.webp'
                alt={t('visitorProfile.industry.item_12')}
              />
              {t('visitorProfile.industry.item_12')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_10.webp'
                alt={t('visitorProfile.industry.item_9')}
              />
              {t('visitorProfile.industry.item_9')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_11.webp'
                alt={t('visitorProfile.industry.item_13')}
              />
              {t('visitorProfile.industry.item_13')}
            </div>
            <div class='text-center'>
              <img
                src='/img/industria_12.webp'
                alt={t('visitorProfile.industry.item_11')}
              />
              {t('visitorProfile.industry.item_11')}
            </div>
          </div>
        </div>
      </div>
      <section class='mt-20'>
        <h1 class='font-bold text-4xl text-white uppercase'>
          {t('hotels.title')}
        </h1>
        <p class='mt-5 text-white' set:html={t('hotels.description')} />

        <div
          class='mt-10 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6'
        >
          {
            hotels.map((hotel) => {
              return (
                <div class='border rounded-xl shadow-xl bg-white'>
                  <img
                    src={hotel.src}
                    alt={hotel.name}
                    class='w-full h-64 object-cover rounded-t-xl'
                  />
                  <div class='p-4'>
                    <p class='font-bold text-gray-600'>{hotel.name}</p>
                    <p class='flex mt-3' set:html={Start(hotel.start)} />
                    <p class='mt-5'>{hotel.address}</p>

                    <p class='flex mt-5'>
                      <img src='/img/hoteles/car-svgrepo-com.svg' width={20} />{' '}
                      {hotel.time_car}
                    </p>
                    {hotel.flyer_esp && (
                      <a
                        href={
                          i18next.language === 'es'
                            ? hotel.flyer_esp
                            : hotel.flyer_eng
                        }
                        target='_blank'
                        class='mt-5 bg-[#ED3C36] text-white px-4 py-2 rounded-lg inline-block hover:bg-gray-800'
                      >
                        {t('hotels.info')}
                      </a>
                    )}
                    <a
                      href={hotel.googlemaps}
                      target='_blank'
                      class='mt-5  text-white bg-[#1088FF] hover:bg-black inline-block rounded-lg px-4 py-2'
                    >
                      Google Maps
                    </a>
                  </div>
                </div>
              )
            })
          }
        </div>
      </section>
      <section class='my-20 text-white'>
        <p class='text-4xl font-bold uppercase'>{t('hotels.visitplan')}</p>
        <p class='mt-5 text-2xl font-bold'>{t('hotels.visitplan_text')}</p>
        <p class='mt-5 text-lg'>{t('hotels.visitplan_text_2')}</p>

        <div class='mt-10 grid md:flex justify-center gap-6'>
          <div class='border rounded-xl shadow-xl bg-white text-black'>
            <div class='p-4'>
              <p class='font-bold text-gray-600 text-3xl text-center'>AICM</p>
              <p class='mt-5 uppercase font-bold'>{t('hotels.airport')} CDMX</p>
              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  viewBox='0 0 24 24'
                  id='Layer_1'
                  data-name='Layer 1'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='#000000'
                  class='h-12 w-12'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                    ><defs
                      ><style>
                        .cls-1 {
                          fill: none;
                          stroke: #020202;
                          stroke-miterlimit: 10;
                          stroke-width: 1.91px;
                        }
                        .cls-2 {
                          fill: #020202;
                        }
                      </style></defs
                    ><path
                      class='cls-1'
                      d='M2.45,18.68H7.23a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H3.41a1,1,0,0,1-1-1V18.68A0,0,0,0,1,2.45,18.68Z'
                    ></path><path
                      class='cls-1'
                      d='M16.77,18.68h4.77a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H17.73a1,1,0,0,1-1-1V18.68A0,0,0,0,1,16.77,18.68Z'
                    ></path><path
                      class='cls-1'
                      d='M5.32,11H18.68a3.82,3.82,0,0,1,3.82,3.82v3.82a0,0,0,0,1,0,0H1.5a0,0,0,0,1,0,0V14.86A3.82,3.82,0,0,1,5.32,11Z'
                    ></path><path
                      class='cls-1'
                      d='M16.29,4.36H7.71A1.91,1.91,0,0,0,5.88,5.75l-1.52,5.3H19.64l-1.52-5.3A1.91,1.91,0,0,0,16.29,4.36Z'
                    ></path><circle class='cls-2' cx='4.84' cy='15.34' r='1.43'
                    ></circle><circle
                      class='cls-2'
                      cx='19.16'
                      cy='15.34'
                      r='1.43'></circle><path class='cls-1' d='M14.86,15.82h0Z'
                    ></path><line
                      class='cls-1'
                      x1='22.5'
                      y1='9.14'
                      x2='19.09'
                      y2='9.14'></line><line
                      class='cls-1'
                      x1='4.91'
                      y1='9.14'
                      x2='1.5'
                      y2='9.14'></line><polygon
                      class='cls-1'
                      points='14.86 4.36 9.14 4.36 10.09 1.5 13.91 1.5 14.86 4.36'
                    ></polygon></g
                  ></svg
                >
                TAXIS
              </p>
              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-12 h-12'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                    <path
                      d='M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5777C20.8183 11.1821 21 11.8661 21 12.5623V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5623C3 11.8661 3.18166 11.1821 3.52703 10.5777L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5ZM7 14C7 14.2761 6.77614 14.5 6.5 14.5C6.22386 14.5 6 14.2761 6 14C6 13.7239 6.22386 13.5 6.5 13.5C6.77614 13.5 7 13.7239 7 14ZM18 14C18 14.2761 17.7761 14.5 17.5 14.5C17.2239 14.5 17 14.2761 17 14C17 13.7239 17.2239 13.5 17.5 13.5C17.7761 13.5 18 13.7239 18 14Z'
                      stroke='#000000'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g></svg
                >
                {t('hotels.rentcar')}
              </p>
              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-12 h-12'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                    <path
                      d='M5 6V15.8C5 16.9201 5 17.4802 5.21799 17.908C5.40973 18.2843 5.71569 18.5903 6.09202 18.782C6.51984 19 7.07989 19 8.2 19H15.8C16.9201 19 17.4802 19 17.908 18.782C18.2843 18.5903 18.5903 18.2843 18.782 17.908C19 17.4802 19 16.9201 19 15.8V6M5 6C5 6 5 3 12 3C19 3 19 6 19 6M5 6H19M5 13H19M17 21V19M7 21V19M8 16H8.01M16 16H16.01'
                      stroke='#000000'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g></svg
                >
                {t('hotels.autobuses')}
              </p>
              <a
                href={i18next.language === 'es'
                  ? 'https://www.aicm.com.mx/pasajeros/servicios/prestadores-de-servicios/transportes'
                  : 'https://www.aicm.com.mx/en/passengers/services/service-providers/transportation'}
                target='_blank'
                class='mt-5 bg-[#ED3C36] text-white px-4 py-2 rounded-lg inline-block hover:bg-gray-800'
              >
                {t('hotels.info')}
              </a>
            </div>
          </div>

          <div class='border rounded-xl shadow-xl bg-white text-black'>
            <div class='p-4'>
              <p class='font-bold text-gray-600 text-3xl text-center'>AIFA</p>
              <p class='mt-5 uppercase font-bold'>
                {t('hotels.airport')} FELIPE ÁNGELES
              </p>
              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-12 h-12'
                  viewBox='0 0 64 64'
                  fill='none'
                  stroke='black'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                >
                  <!-- Parte superior: Letrero -->
                  <rect x='12' y='8' width='40' height='8'></rect>

                  <!-- Soportes laterales -->
                  <line x1='20' y1='16' x2='20' y2='32'></line>
                  <line x1='44' y1='16' x2='44' y2='32'></line>

                  <!-- Mostrador -->
                  <rect x='16' y='32' width='32' height='20'></rect>

                  <!-- Icono de usuario -->
                  <circle cx='32' cy='22' r='4'></circle>
                  <path d='M28 28c0-2.2 1.8-4 4-4s4 1.8 4 4'></path>
                </svg>
                {t('hotels.aifapass')}
              </p>
              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  viewBox='0 0 24 24'
                  fill='none'
                  xmlns='http://www.w3.org/2000/svg'
                  class='w-12 h-12'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                    <path
                      d='M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5777C20.8183 11.1821 21 11.8661 21 12.5623V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5623C3 11.8661 3.18166 11.1821 3.52703 10.5777L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5ZM7 14C7 14.2761 6.77614 14.5 6.5 14.5C6.22386 14.5 6 14.2761 6 14C6 13.7239 6.22386 13.5 6.5 13.5C6.77614 13.5 7 13.7239 7 14ZM18 14C18 14.2761 17.7761 14.5 17.5 14.5C17.2239 14.5 17 14.2761 17 14C17 13.7239 17.2239 13.5 17.5 13.5C17.7761 13.5 18 13.7239 18 14Z'
                      stroke='#000000'
                      stroke-width='2'
                      stroke-linecap='round'
                      stroke-linejoin='round'></path>
                  </g></svg
                >
                {t('hotels.rentcar')}
              </p>
              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  viewBox='0 0 24 24'
                  id='Layer_1'
                  data-name='Layer 1'
                  xmlns='http://www.w3.org/2000/svg'
                  fill='#000000'
                  class='h-12 w-12'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                    ><defs
                      ><style>
                        .cls-1 {
                          fill: none;
                          stroke: #020202;
                          stroke-miterlimit: 10;
                          stroke-width: 1.91px;
                        }
                        .cls-2 {
                          fill: #020202;
                        }
                      </style></defs
                    ><path
                      class='cls-1'
                      d='M2.45,18.68H7.23a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H3.41a1,1,0,0,1-1-1V18.68A0,0,0,0,1,2.45,18.68Z'
                    ></path><path
                      class='cls-1'
                      d='M16.77,18.68h4.77a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H17.73a1,1,0,0,1-1-1V18.68A0,0,0,0,1,16.77,18.68Z'
                    ></path><path
                      class='cls-1'
                      d='M5.32,11H18.68a3.82,3.82,0,0,1,3.82,3.82v3.82a0,0,0,0,1,0,0H1.5a0,0,0,0,1,0,0V14.86A3.82,3.82,0,0,1,5.32,11Z'
                    ></path><path
                      class='cls-1'
                      d='M16.29,4.36H7.71A1.91,1.91,0,0,0,5.88,5.75l-1.52,5.3H19.64l-1.52-5.3A1.91,1.91,0,0,0,16.29,4.36Z'
                    ></path><circle class='cls-2' cx='4.84' cy='15.34' r='1.43'
                    ></circle><circle
                      class='cls-2'
                      cx='19.16'
                      cy='15.34'
                      r='1.43'></circle><path class='cls-1' d='M14.86,15.82h0Z'
                    ></path><line
                      class='cls-1'
                      x1='22.5'
                      y1='9.14'
                      x2='19.09'
                      y2='9.14'></line><line
                      class='cls-1'
                      x1='4.91'
                      y1='9.14'
                      x2='1.5'
                      y2='9.14'></line><polygon
                      class='cls-1'
                      points='14.86 4.36 9.14 4.36 10.09 1.5 13.91 1.5 14.86 4.36'
                    ></polygon></g
                  ></svg
                >
                TAXIBUS
              </p>

              <p class='flex gap-5 font-bold items-center mt-5'>
                <svg
                  fill='#000000'
                  class='w-12 h-12'
                  version='1.1'
                  id='Layer_1'
                  xmlns='http://www.w3.org/2000/svg'
                  xmlns:xlink='http://www.w3.org/1999/xlink'
                  viewBox='0 0 512 512'
                  xml:space='preserve'
                  ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                    id='SVGRepo_tracerCarrier'
                    stroke-linecap='round'
                    stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                    <g>
                      <g>
                        <path
                          d='M256.001,101.02c-39.388,0-71.432,32.045-71.432,71.432c0,39.388,32.045,71.432,71.432,71.432 c39.388,0,71.432-32.045,71.432-71.432C327.433,133.065,295.389,101.02,256.001,101.02z M256,213.445 c-22.603,0-40.993-18.389-40.993-40.993s18.389-40.993,40.993-40.993s40.993,18.39,40.993,40.993 C296.993,195.056,278.603,213.445,256,213.445z'
                        ></path>
                      </g>
                    </g>
                    <g>
                      <g>
                        <path
                          d='M403.703,302.096h-63.715c28.369-43.321,43.249-87.709,43.249-129.644c0-70.159-57.079-127.238-127.238-127.238 s-127.238,57.079-127.238,127.238c0,41.935,14.881,86.323,43.249,129.644h-63.715L0,466.786h512L403.703,302.096z M159.202,172.453c-0.001-53.377,43.423-96.8,96.798-96.8s96.799,43.424,96.799,96.799c0,53.343-28.498,101.699-52.407,132.872 c-0.767,0.999-1.533,1.977-2.3,2.955c-0.781,0.997-1.563,1.981-2.344,2.956c-0.249,0.31-0.498,0.623-0.747,0.931 c-0.777,0.963-1.552,1.914-2.327,2.854c-0.249,0.301-0.497,0.604-0.745,0.903c-0.774,0.935-1.546,1.857-2.315,2.767 c-0.242,0.287-0.485,0.573-0.727,0.858c-0.774,0.911-1.545,1.81-2.313,2.696c-0.229,0.265-0.458,0.528-0.686,0.79 c-0.775,0.889-1.545,1.766-2.311,2.63c-0.216,0.244-0.431,0.485-0.646,0.727c-0.777,0.871-1.549,1.731-2.315,2.574 c-0.19,0.209-0.378,0.415-0.567,0.622c-0.783,0.859-1.563,1.708-2.333,2.537c-0.162,0.174-0.324,0.347-0.485,0.521 c-0.791,0.85-1.578,1.687-2.353,2.505c-0.123,0.129-0.244,0.256-0.365,0.383c-0.808,0.849-1.607,1.684-2.394,2.497 c-0.074,0.077-0.147,0.151-0.222,0.228c-0.827,0.853-1.645,1.69-2.445,2.502c-0.018,0.018-0.036,0.036-0.053,0.054 c-5.135,5.2-9.71,9.54-13.394,12.908C229.93,329.862,159.202,257.301,159.202,172.453z M124.712,332.535h69.609 c22.376,27.534,43.37,45.907,50.029,51.489c0.002,0.002,0.004,0.003,0.006,0.005c0.241,0.202,0.465,0.389,0.668,0.557 c0.014,0.011,0.025,0.021,0.04,0.032c0.396,0.328,0.721,0.596,0.96,0.789c0.019,0.016,0.03,0.025,0.05,0.041 c0.191,0.155,0.329,0.266,0.4,0.323c0.007,0.006,0.024,0.019,0.03,0.024l0.002,0.001h0.001l0.01,0.008l9.486,7.575l9.486-7.575 l0.01-0.008h0.001l0.002-0.001c0.006-0.005,0.022-0.018,0.03-0.024c0.071-0.057,0.209-0.167,0.4-0.323 c0.018-0.015,0.029-0.024,0.05-0.041c0.238-0.194,0.564-0.462,0.96-0.789c0.014-0.011,0.025-0.021,0.04-0.032 c0.203-0.168,0.426-0.355,0.668-0.557c0.002-0.001,0.004-0.003,0.006-0.005c6.66-5.583,27.653-23.955,50.029-51.489h69.609 l68.264,103.811H56.448L124.712,332.535z'
                        ></path>
                      </g>
                    </g>
                  </g></svg
                >
                {t('hotels.destiny')}
              </p>
              <a
                href='https://aifa.aero/transporte.html'
                target='_blank'
                class='mt-5 bg-[#ED3C36] text-white px-4 py-2 rounded-lg inline-block hover:bg-gray-800'
              >
                {t('hotels.info')}
              </a>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
  <style>
    .card {
      width: fit-content;
      background: #f6f6f6;
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;
      overflow: hidden;
      border-radius: 20px;
    }

    .card::before {
      content: '';
      position: absolute;
      width: 250px;
      background-image: linear-gradient(45deg, rgb(0, 183, 255), #e42128);
      height: 30px;
      animation: rotBGimg 3s linear infinite;
      transition: all 0.2s linear;
    }

    @keyframes rotBGimg {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }

    .card::after {
      content: '';
      position: absolute;
      background: #e42128;
      inset: 5px;
      border-radius: 15px;
    }
    /*.card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  }*/
  </style>
</Layout>
