---
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";
import { hotels, Start } from "@/data/constans_hotels";

changeLanguage("es");

const lang = i18next.language;
const base = i18next.language === "es" ? "" : `/${lang}`;
---

<Layout title={`ITM 2025 | ${t('menu.visitors_1')}`}>
  <main
    class='bg-black bg-cover bg-no-repeat bg-center bg-fixed pb-5 pt-5 px-5 md:px-20 lg:32'
  >
    <section>
      <h1 class='text-white text-4xl font-bold inline uppercase'>
        {t('visitorReasons.title_1')}
      </h1>
      <h2 class='text-white text-2xl font-semibold pt-2'>
        {t('visitorReasons.title_2')}
      </h2>
      <p class='text-white pt-5'>{t('visitorReasons.description_1')}</p>
      <div class='text-white flex flex-wrap pt-5'>
        <div class='md:w-1/2'>
          <div class='flex items-center'>
            <img
              class='h-16 pr-2'
              src='/img/whyvisit_1.png'
              alt='digital transformation'
            />{t('visitorReasons.description_4')}
          </div>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_2.png'
              alt='digital transformation'
            />{t('visitorReasons.description_5')}
          </div>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_3.png'
              alt='digital transformation'
            />{t('visitorReasons.description_6')}
          </div>
        </div>
        <div class='md:w-1/2'>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_4.png'
              alt='digital transformation'
            />{t('visitorReasons.description_7')}
          </div>
          <div class='flex items-center'>
            <img
              class='inline h-16 pr-2'
              src='/img/whyvisit_5.png'
              alt='digital transformation'
            />{t('visitorReasons.description_8')}
          </div>
          <li class='flex items-center'>
            <div>
              <svg
                class='h-16 pr-2'
                viewBox='0 0 24 24'
                xmlns='http://www.w3.org/2000/svg'
                fill='#ffffff'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                  ><path
                    d='M2.898 12.581a2.467 2.467 0 0 1 2.073-.538 2.38 2.38 0 0 1 1.42.871l.419-1.023a3.39 3.39 0 0 0-.707-.489 2.5 2.5 0 1 0-3.215-.006 3.454 3.454 0 0 0-.631.418A3.491 3.491 0 0 0 1 14.5V16h1v-1.5a2.492 2.492 0 0 1 .898-1.919zM3 9.5A1.5 1.5 0 1 1 4.5 11 1.502 1.502 0 0 1 3 9.5zm18.103 1.902a2.5 2.5 0 1 0-3.215-.007 3.448 3.448 0 0 0-.631.419c-.026.021-.044.05-.07.072l.412 1.006a2.407 2.407 0 0 1 2.372-.849A2.608 2.608 0 0 1 22 14.646V16h1v-1.354a3.647 3.647 0 0 0-1.897-3.244zM18 9.5a1.5 1.5 0 1 1 1.5 1.5A1.502 1.502 0 0 1 18 9.5zM10 9V8a1.99 1.99 0 0 1 .764-1.572 2.02 2.02 0 0 1 1.739-.367A2.08 2.08 0 0 1 14 8.119V9h1v-.88a3.173 3.173 0 0 0-1.445-2.678 2.5 2.5 0 1 0-3.1.009 2.956 2.956 0 0 0-.31.192A2.984 2.984 0 0 0 9 8v1zm.5-5.5A1.5 1.5 0 1 1 12 5a1.502 1.502 0 0 1-1.5-1.5zm9.463 17.81l-.926.38L14.664 11H9.336L4.963 21.69l-.926-.38L8.41 10.622A.997.997 0 0 1 9.336 10h5.328a.996.996 0 0 1 .925.62z'
                  ></path><path fill='none' d='M0 0h24v24H0z'></path></g
                ></svg
              >
            </div>
            {t('visitorReasons.description_9')}
          </li>
        </div>
      </div>
    </section>
    <div class='text-white text-center mt-10'>
      <p class='my-5 text-white text-xl pe-5 text-center'>
        * {t('home.date_text_cost')}
      </p>
      <p class='text-lg'>
        {t('footer.dateFooter')}
      </p>
      <p set:html={t('home.dateEvent')} />
      <p class='mt-5 font-bold flex justify-center items-center gap-2 text-lg'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 24 24'
          stroke-width='1.5'
          stroke='currentColor'
          class='size-6'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'></path>
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'
          ></path>
        </svg>
        Centro Banamex, CDMX, México
      </p>
      <a
        href={`${base}/registro`}
        class='mt-10 card p-5 hover:scale-105 ease-in-out duration-300 mx-auto w-fit'
      >
        <span class='text-white z-10 font-extrabold text-3xl'
          >{t('register.button_register')}</span
        >
      </a>
    </div>

    <section class='mt-10'>
      <div class='pt-5'>
        <h2 class='text-white text-4xl font-bold uppercase'>
          {t('visitorProfile.buyers.title')}
        </h2>

        <div class='text-white *:pt-2 list-disc ps-5'>
          <li>{t('visitorProfile.buyers.item_1')}</li>
          <li>{t('visitorProfile.buyers.item_4')}</li>
          <li>{t('visitorProfile.buyers.item_5')}</li>
          <li>{t('visitorProfile.buyers.item_6')}</li>
          <li>{t('visitorProfile.buyers.item_7')}</li>
          <li>{t('visitorProfile.buyers.item_8')}</li>
          <li>{t('visitorProfile.buyers.item_9')}</li>
          <li>{t('visitorProfile.buyers.item_10')}</li>
          <li>{t('visitorProfile.buyers.item_11')}</li>
        </div>
        <h5 class='text-white font-bold uppercase text-xl pt-5'>
          {t('visitorProfile.buyers.item_2')}
        </h5>
        <p class='text-white pt-2'>{t('visitorProfile.buyers.item_3')}</p>
      </div>
      <div class='pt-5'>
        <h2 class='text-white text-4xl font-bold uppercase'>
          {t('visitorProfile.industry.title')}
        </h2>
        <div
          class='mt-10 text-white *:pt-2 grid lg:grid-cols-6 gap-8 uppercase font-bold'
        >
          <div class='text-center'>
            <img
              src='/img/industria_1.webp'
              alt={t('visitorProfile.industry.item_1')}
            />
            {t('visitorProfile.industry.item_1')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_2.webp'
              alt={t('visitorProfile.industry.item_2')}
            />
            {t('visitorProfile.industry.item_2')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_3.webp'
              alt={t('visitorProfile.industry.item_3')}
            />
            {t('visitorProfile.industry.item_3')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_4.webp'
              alt={t('visitorProfile.industry.item_4')}
            />
            {t('visitorProfile.industry.item_4')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_5.webp'
              alt={t('visitorProfile.industry.item_5')}
            />
            {t('visitorProfile.industry.item_5')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_6.webp'
              alt={t('visitorProfile.industry.item_6')}
            />
            {t('visitorProfile.industry.item_6')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_7.webp'
              alt={t('visitorProfile.industry.item_7')}
            />
            {t('visitorProfile.industry.item_7')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_8.webp'
              alt={t('visitorProfile.industry.item_10')}
            />
            {t('visitorProfile.industry.item_10')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_9.webp'
              alt={t('visitorProfile.industry.item_12')}
            />
            {t('visitorProfile.industry.item_12')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_10.webp'
              alt={t('visitorProfile.industry.item_9')}
            />
            {t('visitorProfile.industry.item_9')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_11.webp'
              alt={t('visitorProfile.industry.item_13')}
            />
            {t('visitorProfile.industry.item_13')}
          </div>
          <div class='text-center'>
            <img
              src='/img/industria_12.webp'
              alt={t('visitorProfile.industry.item_11')}
            />
            {t('visitorProfile.industry.item_11')}
          </div>
        </div>
      </div>
    </section>
    <section class='mt-20'>
      <h1 class='font-bold text-4xl text-white uppercase'>
        {t('hotels.title')}
      </h1>
      <p class='mt-5 text-white' set:html={t('hotels.description')} />

      <div
        class='mt-10 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6'
      >
        {
          hotels.map((hotel) => {
            return (
              <div class='border rounded-xl shadow-xl bg-white'>
                <img
                  src={hotel.src}
                  alt={hotel.name}
                  class='w-full h-64 object-cover rounded-t-xl'
                />
                <div class='p-4'>
                  <p class='font-bold text-gray-600'>{hotel.name}</p>
                  <p class='flex mt-3' set:html={Start(hotel.start)} />
                  <p class='mt-5'>{hotel.address}</p>

                  <p class='flex mt-5'>
                    <img src='/img/hoteles/car-svgrepo-com.svg' width={20} />{' '}
                    {hotel.time_car}
                  </p>
                  {hotel.flyer_esp && (
                    <a
                      href={
                        i18next.language === 'es'
                          ? hotel.flyer_esp
                          : hotel.flyer_eng
                      }
                      target='_blank'
                      class='mt-5 bg-[#ED3C36] text-white px-4 py-2 rounded-lg inline-block hover:bg-gray-800'
                    >
                      {t('hotels.info')}
                    </a>
                  )}
                  <a
                    href={hotel.googlemaps}
                    target='_blank'
                    class='mt-5  text-white bg-[#1088FF] hover:bg-black inline-block rounded-lg px-4 py-2'
                  >
                    Google Maps
                  </a>
                </div>
              </div>
            )
          })
        }
      </div>
    </section>
    <section class='my-20 text-white'>
      <p class='text-4xl font-bold uppercase'>{t('hotels.visitplan')}</p>
      <p class='mt-5 text-2xl font-bold'>{t('hotels.visitplan_text')}</p>
      <p class='mt-5 text-lg'>{t('hotels.visitplan_text_2')}</p>

      <div class='mt-10 grid md:flex justify-center gap-6'>
        <div class='border rounded-xl shadow-xl bg-white text-black'>
          <div class='p-4'>
            <p class='font-bold text-gray-600 text-3xl text-center'>AICM</p>
            <p class='mt-5 uppercase font-bold'>{t('hotels.airport')} CDMX</p>
            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                viewBox='0 0 24 24'
                id='Layer_1'
                data-name='Layer 1'
                xmlns='http://www.w3.org/2000/svg'
                fill='#000000'
                class='h-12 w-12'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                  ><defs
                    ><style>
                      .cls-1 {
                        fill: none;
                        stroke: #020202;
                        stroke-miterlimit: 10;
                        stroke-width: 1.91px;
                      }
                      .cls-2 {
                        fill: #020202;
                      }
                    </style></defs
                  ><path
                    class='cls-1'
                    d='M2.45,18.68H7.23a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H3.41a1,1,0,0,1-1-1V18.68A0,0,0,0,1,2.45,18.68Z'
                  ></path><path
                    class='cls-1'
                    d='M16.77,18.68h4.77a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H17.73a1,1,0,0,1-1-1V18.68A0,0,0,0,1,16.77,18.68Z'
                  ></path><path
                    class='cls-1'
                    d='M5.32,11H18.68a3.82,3.82,0,0,1,3.82,3.82v3.82a0,0,0,0,1,0,0H1.5a0,0,0,0,1,0,0V14.86A3.82,3.82,0,0,1,5.32,11Z'
                  ></path><path
                    class='cls-1'
                    d='M16.29,4.36H7.71A1.91,1.91,0,0,0,5.88,5.75l-1.52,5.3H19.64l-1.52-5.3A1.91,1.91,0,0,0,16.29,4.36Z'
                  ></path><circle class='cls-2' cx='4.84' cy='15.34' r='1.43'
                  ></circle><circle class='cls-2' cx='19.16' cy='15.34' r='1.43'
                  ></circle><path class='cls-1' d='M14.86,15.82h0Z'></path><line
                    class='cls-1'
                    x1='22.5'
                    y1='9.14'
                    x2='19.09'
                    y2='9.14'></line><line
                    class='cls-1'
                    x1='4.91'
                    y1='9.14'
                    x2='1.5'
                    y2='9.14'></line><polygon
                    class='cls-1'
                    points='14.86 4.36 9.14 4.36 10.09 1.5 13.91 1.5 14.86 4.36'
                  ></polygon></g
                ></svg
              >
              TAXIS
            </p>
            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
                class='w-12 h-12'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                  <path
                    d='M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5777C20.8183 11.1821 21 11.8661 21 12.5623V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5623C3 11.8661 3.18166 11.1821 3.52703 10.5777L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5ZM7 14C7 14.2761 6.77614 14.5 6.5 14.5C6.22386 14.5 6 14.2761 6 14C6 13.7239 6.22386 13.5 6.5 13.5C6.77614 13.5 7 13.7239 7 14ZM18 14C18 14.2761 17.7761 14.5 17.5 14.5C17.2239 14.5 17 14.2761 17 14C17 13.7239 17.2239 13.5 17.5 13.5C17.7761 13.5 18 13.7239 18 14Z'
                    stroke='#000000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </g></svg
              >
              {t('hotels.rentcar')}
            </p>
            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
                class='w-12 h-12'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                  <path
                    d='M5 6V15.8C5 16.9201 5 17.4802 5.21799 17.908C5.40973 18.2843 5.71569 18.5903 6.09202 18.782C6.51984 19 7.07989 19 8.2 19H15.8C16.9201 19 17.4802 19 17.908 18.782C18.2843 18.5903 18.5903 18.2843 18.782 17.908C19 17.4802 19 16.9201 19 15.8V6M5 6C5 6 5 3 12 3C19 3 19 6 19 6M5 6H19M5 13H19M17 21V19M7 21V19M8 16H8.01M16 16H16.01'
                    stroke='#000000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </g></svg
              >
              {t('hotels.autobuses')}
            </p>
            <a
              href={i18next.language === 'es'
                ? 'https://www.aicm.com.mx/pasajeros/servicios/prestadores-de-servicios/transportes'
                : 'https://www.aicm.com.mx/en/passengers/services/service-providers/transportation'}
              target='_blank'
              class='mt-5 bg-[#ED3C36] text-white px-4 py-2 rounded-lg inline-block hover:bg-gray-800'
            >
              {t('hotels.info')}
            </a>
          </div>
        </div>

        <div class='border rounded-xl shadow-xl bg-white text-black'>
          <div class='p-4'>
            <p class='font-bold text-gray-600 text-3xl text-center'>AIFA</p>
            <p class='mt-5 uppercase font-bold'>
              {t('hotels.airport')} FELIPE ÁNGELES
            </p>
            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='w-12 h-12'
                viewBox='0 0 64 64'
                fill='none'
                stroke='black'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
              >
                <!-- Parte superior: Letrero -->
                <rect x='12' y='8' width='40' height='8'></rect>

                <!-- Soportes laterales -->
                <line x1='20' y1='16' x2='20' y2='32'></line>
                <line x1='44' y1='16' x2='44' y2='32'></line>

                <!-- Mostrador -->
                <rect x='16' y='32' width='32' height='20'></rect>

                <!-- Icono de usuario -->
                <circle cx='32' cy='22' r='4'></circle>
                <path d='M28 28c0-2.2 1.8-4 4-4s4 1.8 4 4'></path>
              </svg>
              {t('hotels.aifapass')}
            </p>
            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                viewBox='0 0 24 24'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
                class='w-12 h-12'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                  <path
                    d='M3 8L5.72187 10.2682C5.90158 10.418 6.12811 10.5 6.36205 10.5H17.6379C17.8719 10.5 18.0984 10.418 18.2781 10.2682L21 8M6.5 14H6.51M17.5 14H17.51M8.16065 4.5H15.8394C16.5571 4.5 17.2198 4.88457 17.5758 5.50772L20.473 10.5777C20.8183 11.1821 21 11.8661 21 12.5623V18.5C21 19.0523 20.5523 19.5 20 19.5H19C18.4477 19.5 18 19.0523 18 18.5V17.5H6V18.5C6 19.0523 5.55228 19.5 5 19.5H4C3.44772 19.5 3 19.0523 3 18.5V12.5623C3 11.8661 3.18166 11.1821 3.52703 10.5777L6.42416 5.50772C6.78024 4.88457 7.44293 4.5 8.16065 4.5ZM7 14C7 14.2761 6.77614 14.5 6.5 14.5C6.22386 14.5 6 14.2761 6 14C6 13.7239 6.22386 13.5 6.5 13.5C6.77614 13.5 7 13.7239 7 14ZM18 14C18 14.2761 17.7761 14.5 17.5 14.5C17.2239 14.5 17 14.2761 17 14C17 13.7239 17.2239 13.5 17.5 13.5C17.7761 13.5 18 13.7239 18 14Z'
                    stroke='#000000'
                    stroke-width='2'
                    stroke-linecap='round'
                    stroke-linejoin='round'></path>
                </g></svg
              >
              {t('hotels.rentcar')}
            </p>
            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                viewBox='0 0 24 24'
                id='Layer_1'
                data-name='Layer 1'
                xmlns='http://www.w3.org/2000/svg'
                fill='#000000'
                class='h-12 w-12'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                  ><defs
                    ><style>
                      .cls-1 {
                        fill: none;
                        stroke: #020202;
                        stroke-miterlimit: 10;
                        stroke-width: 1.91px;
                      }
                      .cls-2 {
                        fill: #020202;
                      }
                    </style></defs
                  ><path
                    class='cls-1'
                    d='M2.45,18.68H7.23a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H3.41a1,1,0,0,1-1-1V18.68A0,0,0,0,1,2.45,18.68Z'
                  ></path><path
                    class='cls-1'
                    d='M16.77,18.68h4.77a0,0,0,0,1,0,0v2.86a1,1,0,0,1-1,1H17.73a1,1,0,0,1-1-1V18.68A0,0,0,0,1,16.77,18.68Z'
                  ></path><path
                    class='cls-1'
                    d='M5.32,11H18.68a3.82,3.82,0,0,1,3.82,3.82v3.82a0,0,0,0,1,0,0H1.5a0,0,0,0,1,0,0V14.86A3.82,3.82,0,0,1,5.32,11Z'
                  ></path><path
                    class='cls-1'
                    d='M16.29,4.36H7.71A1.91,1.91,0,0,0,5.88,5.75l-1.52,5.3H19.64l-1.52-5.3A1.91,1.91,0,0,0,16.29,4.36Z'
                  ></path><circle class='cls-2' cx='4.84' cy='15.34' r='1.43'
                  ></circle><circle class='cls-2' cx='19.16' cy='15.34' r='1.43'
                  ></circle><path class='cls-1' d='M14.86,15.82h0Z'></path><line
                    class='cls-1'
                    x1='22.5'
                    y1='9.14'
                    x2='19.09'
                    y2='9.14'></line><line
                    class='cls-1'
                    x1='4.91'
                    y1='9.14'
                    x2='1.5'
                    y2='9.14'></line><polygon
                    class='cls-1'
                    points='14.86 4.36 9.14 4.36 10.09 1.5 13.91 1.5 14.86 4.36'
                  ></polygon></g
                ></svg
              >
              TAXIBUS
            </p>

            <p class='flex gap-5 font-bold items-center mt-5'>
              <svg
                fill='#000000'
                class='w-12 h-12'
                version='1.1'
                id='Layer_1'
                xmlns='http://www.w3.org/2000/svg'
                xmlns:xlink='http://www.w3.org/1999/xlink'
                viewBox='0 0 512 512'
                xml:space='preserve'
                ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                  id='SVGRepo_tracerCarrier'
                  stroke-linecap='round'
                  stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'>
                  <g>
                    <g>
                      <path
                        d='M256.001,101.02c-39.388,0-71.432,32.045-71.432,71.432c0,39.388,32.045,71.432,71.432,71.432 c39.388,0,71.432-32.045,71.432-71.432C327.433,133.065,295.389,101.02,256.001,101.02z M256,213.445 c-22.603,0-40.993-18.389-40.993-40.993s18.389-40.993,40.993-40.993s40.993,18.39,40.993,40.993 C296.993,195.056,278.603,213.445,256,213.445z'
                      ></path>
                    </g>
                  </g>
                  <g>
                    <g>
                      <path
                        d='M403.703,302.096h-63.715c28.369-43.321,43.249-87.709,43.249-129.644c0-70.159-57.079-127.238-127.238-127.238 s-127.238,57.079-127.238,127.238c0,41.935,14.881,86.323,43.249,129.644h-63.715L0,466.786h512L403.703,302.096z M159.202,172.453c-0.001-53.377,43.423-96.8,96.798-96.8s96.799,43.424,96.799,96.799c0,53.343-28.498,101.699-52.407,132.872 c-0.767,0.999-1.533,1.977-2.3,2.955c-0.781,0.997-1.563,1.981-2.344,2.956c-0.249,0.31-0.498,0.623-0.747,0.931 c-0.777,0.963-1.552,1.914-2.327,2.854c-0.249,0.301-0.497,0.604-0.745,0.903c-0.774,0.935-1.546,1.857-2.315,2.767 c-0.242,0.287-0.485,0.573-0.727,0.858c-0.774,0.911-1.545,1.81-2.313,2.696c-0.229,0.265-0.458,0.528-0.686,0.79 c-0.775,0.889-1.545,1.766-2.311,2.63c-0.216,0.244-0.431,0.485-0.646,0.727c-0.777,0.871-1.549,1.731-2.315,2.574 c-0.19,0.209-0.378,0.415-0.567,0.622c-0.783,0.859-1.563,1.708-2.333,2.537c-0.162,0.174-0.324,0.347-0.485,0.521 c-0.791,0.85-1.578,1.687-2.353,2.505c-0.123,0.129-0.244,0.256-0.365,0.383c-0.808,0.849-1.607,1.684-2.394,2.497 c-0.074,0.077-0.147,0.151-0.222,0.228c-0.827,0.853-1.645,1.69-2.445,2.502c-0.018,0.018-0.036,0.036-0.053,0.054 c-5.135,5.2-9.71,9.54-13.394,12.908C229.93,329.862,159.202,257.301,159.202,172.453z M124.712,332.535h69.609 c22.376,27.534,43.37,45.907,50.029,51.489c0.002,0.002,0.004,0.003,0.006,0.005c0.241,0.202,0.465,0.389,0.668,0.557 c0.014,0.011,0.025,0.021,0.04,0.032c0.396,0.328,0.721,0.596,0.96,0.789c0.019,0.016,0.03,0.025,0.05,0.041 c0.191,0.155,0.329,0.266,0.4,0.323c0.007,0.006,0.024,0.019,0.03,0.024l0.002,0.001h0.001l0.01,0.008l9.486,7.575l9.486-7.575 l0.01-0.008h0.001l0.002-0.001c0.006-0.005,0.022-0.018,0.03-0.024c0.071-0.057,0.209-0.167,0.4-0.323 c0.018-0.015,0.029-0.024,0.05-0.041c0.238-0.194,0.564-0.462,0.96-0.789c0.014-0.011,0.025-0.021,0.04-0.032 c0.203-0.168,0.426-0.355,0.668-0.557c0.002-0.001,0.004-0.003,0.006-0.005c6.66-5.583,27.653-23.955,50.029-51.489h69.609 l68.264,103.811H56.448L124.712,332.535z'
                      ></path>
                    </g>
                  </g>
                </g></svg
              >
              {t('hotels.destiny')}
            </p>
            <a
              href='https://aifa.aero/transporte.html'
              target='_blank'
              class='mt-5 bg-[#ED3C36] text-white px-4 py-2 rounded-lg inline-block hover:bg-gray-800'
            >
              {t('hotels.info')}
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
<style>
  .card {
    width: fit-content;
    background: #f6f6f6;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .card::before {
    content: '';
    position: absolute;
    width: 250px;
    background-image: linear-gradient(45deg, rgb(0, 183, 255), #e42128);
    height: 30px;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: '';
    position: absolute;
    background: #e42128;
    inset: 5px;
    border-radius: 15px;
  }
  /*.card:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  }*/
</style>
