---
import i18next, { t } from 'i18next'
import { CounterDown } from './CounterDown'
const lang = i18next.language

const base = i18next.language === 'es' ? '' : `/${lang}`
---

<section class='relative lab-bg py-10 bg-black'>
  <div class='container mx-auto px-4 grid md:grid-cols-2 gap-6'>
    <div class='grid place-content-between gap-5'>
      <p
        data-aos='fade-right'
        data-aos-duration='1000'
        class='text-white text-3xl xl:text-5xl font-extrabold'
      >
        {t('home.titleITM')}
      </p>
      <div data-aos='fade-down' data-aos-duration='1000'>
        <div class='font-extrabold text-white text-2xl flex items-center gap-6'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='1.5'
            stroke='currentColor'
            class='size-6'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              d='M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5'
            ></path>
          </svg>
          {t('home.titleCounter')}
        </div>
        <p class='text-white text-xl' set:html={t('home.dateEvent')} />
        <p class='mt-5 text-white font-bold text-xl'>
          * {t('home.summitcce')}
        </p>
        <p class='mt-5 text-white font-bold text-xl'>
          * {t('home.student')}
        </p>
        {
          /*<p class='mt-5 text-white font-bold text-xl'>
          * {t('home.credential')}
        </p>*/
        }
      </div>

      <p class='mt-10 text-center text-white font-bold'>
        {t('register.text_1')}
      </p>
    </div>
    <div
      data-aos='fade-up'
      data-aos-duration='1000'
      class='grid gap-6 place-content-center place-items-center'
    >
      {
        /*<CounterDown
        client:only='react'
        dias={t('home.days')}
        horas={t('home.hours')}
        minutos={t('home.minutes')}
        segundos={t('home.seconds')}
      />*/
      }
      <div
        class='container mx-auto py-5 px-4 grid md:grid-cols-2 gap-5 backdrop-blur-sm bg-white/30 rounded-xl'
      >
        <a
          href={`${base}/registro`}
          class='card p-5 hover:scale-105 ease-in-out duration-300'
        >
          <span class='text-white z-10 font-extrabold text-xl'
            >{t('register.title')}</span
          >
        </a>
        <a
          href={`${base}/programa-summit-cce-itm-amof`}
          class='card p-5 hover:scale-105 ease-in-out duration-300'
        >
          <span class='text-white z-10 font-extrabold text-xl text-center'>
            {t('home.programCCE')}
          </span>
        </a>
      </div>
      <p class='mt-5 text-white text-xl font-extrabold'>* {t('home.leyend')}</p>
    </div>
  </div>
  <div
    class='mt-20 container mx-auto py-5 px-4 grid md:grid-cols-3 gap-10 backdrop-blur-sm bg-white/30 rounded-xl'
  >
    <a
      href=`${base}/consulta-directorio-digital`
      class='text-white bg-black hover:bg-white hover:text-black font-bold flex justify-center gap-5 py-5 rounded-xl'
    >
      {t('home.directory_2024')}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='size-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244'
        ></path>
      </svg>
    </a>
    <a
      href='/files/Floorplan_ITM_2024_04.10.2024.pdf'
      target='_blank'
      class='text-white bg-black hover:bg-white hover:text-black font-bold flex justify-center gap-5 py-5 rounded-xl'
    >
      {t('menu.exhibitors_5')}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='size-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244'
        ></path>
      </svg>
    </a>
    <a
      href=`${base}/tarifas-especiales-para-hoteles`
      class='text-white bg-black hover:bg-white hover:text-black font-bold flex justify-center gap-5 py-5 rounded-xl'
    >
      {t('menu.visitors_3')}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='size-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244'
        ></path>
      </svg>
    </a>
    {
      /* <a
      href='/files/United-Meetings-Agreement-2023-ENG.pdf'
      target='_blank'
      class='text-white bg-black hover:bg-white hover:text-black font-bold flex justify-center gap-5 py-5 rounded-xl'
    >
      {t('menu.visitors_4')}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='size-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244'
        ></path>
      </svg>
    </a>*/
    }
  </div>
</section>
<style>
  .card {
    width: fit-content;
    background: #f6f6f6;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .card::before {
    content: '';
    position: absolute;
    width: 250px;
    background-image: linear-gradient(45deg, rgb(0, 183, 255), #e42128);
    height: 30px;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .card::after {
    content: '';
    position: absolute;
    background: #e42128;
    inset: 5px;
    border-radius: 15px;
  }
  /* .card:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */
</style>
