---
import i18next, { t } from 'i18next'
const lang = i18next.language
const base = i18next.language === 'es' ? '' : `/${lang}`

const otherEvents = [
  {
    title: t('program.title'),
    description: t('otherEvents.conferences'),
    image: '/img/bgconferencias.webp',
    link: `${base}/programa`,
    target: '_self',
  },
  {
    title: t('otherEvents.summit'),
    description: t('otherEvents.summit-description'),
    image: '/img/bgconsejo.webp',
    link: `${base}/programa-summit-cce-itm-amof`,
    target: '_blank',
  },
  {
    title: 'Startup Pitch',
    description: t('otherEvents.startup-pitch'),
    image: '/img/bgstartupitch.webp',
    link: `${base}/startup-pitch`,
    target: '_self',
  },
  {
    title: 'ITMUJERES',
    description: t('otherEvents.itmujeres'),
    image: '/img/bgitmmujeres.webp',
    link: `${base}/itmujeres`,
    target: '_self',
  },
  {
    title: 'M-TECH',
    description: t('otherEvents.mtech'),
    video: 'https://mtech.igeco.mx/videos/bg_mtech_2024.mp4',
    link: 'https://mtech.igeco.mx/',
    target: '_blank',
  },
  {
    title: t('otherEvents.noche-industriales'),
    description: t('otherEvents.noche-industriales-description'),
    image: '/img/bgnocheindustriales.webp',
    link: `${base}/noche-de-industriales`,
    target: '_self',
  },
  {
    title: t('otherEvents.premiostic'),
    description: t('otherEvents.premiostic-description'),
    image: '/img/bgpremios.webp',
    link: 'https://canietimediahouse.com/premios-tic-e-itzamna-2024/',
    target: '_blank',
  },
  {
    title: 'Oktoberfest',
    description: t('otherEvents.oktoberfest'),
    video: '/videos/OKTOBERFEST-2024.mp4',
    link: '',
    target: '_self',
  },
  {
    title: 'Futuristics Minds',
    description: t('otherEvents.futuristics-minds'),
    image:
      'https://futuristic-minds.industrialtransformation.mx/img/bg_banner.webp',
    link: 'https://futuristic-minds.industrialtransformation.mx/',
    target: '_blank',
  },
  {
    title: 'AMOF',
    description: t('otherEvents.amof'),
    video: '/videos/video_amof_bg_op.mp4',
    link: 'https://amofexpo.igeco.mx/',
    target: '_blank',
  },
]
---

<section class='m-10 xl:mx-32'>
  <div
    class='square_red text-center font-bold text-3xl xl:text-4xl py-5 px-10 uppercase text-white w-fit mx-auto'
  >
    {t('otherEvents.title')}
  </div>
  <!-- <div class='flex justify-center flex-wrap gap-10'>  -->
  <div class='mt-10 grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10'>
    {
      otherEvents.map((event, index) => (
        <article
          data-aos='fade-up'
          data-aos-delay={index * 100}
          data-aos-duration='1000'
          class='relative box-border overflow-hidden rounded-lg shadow transition group bg-black w-full'
        >
          {event.image ? (
            <img
              alt={event.title}
              src={event.image}
              class='absolute inset-0 h-full w-full object-cover transform transition-transform ease-out duration-300 group-hover:-translate-y-5 scale-110'
            />
          ) : (
            <video
              class='absolute inset-0 h-full w-full object-cover transform transition-transform ease-out duration-300 group-hover:-translate-y-5 scale-110'
              autoplay
              muted
              loop
            >
              <source
                src={event.video}
                type={`video/${event.video && event.video.split('.').pop()}`}
              />{' '}
            </video>
          )}

          <div class='relative h-full bg-gradient-to-t from-gray-900/70 to-gray-900/40 pt-32'>
            <div class='relative h-[266px] p-4 sm:p-6 translate-y-52 md:translate-y-48 xl:translate-y-[190px] transform transition-transform ease-out duration-300 group-hover:translate-y-0'>
              <h3 class='mt-0.5 text-2xl pb-2 text-white font-bold uppercase'>
                {event.title}
              </h3>
              <p class='mt-2 text-sm/relaxed text-white/95'>
                {event.description}
              </p>
              <a
                href={event.link}
                {...(event.target && { target: event.target })}
                class='2xl:text-base group mt-4 inline-flex items-center gap-1 text-sm font-medium text-white hover:text-white hover:bg-black rounded-md p-2 transition-all'
              >
                {event.link === '' ? (
                  t('directory.comming_soon')
                ) : (
                  <>
                    {t('otherEvents.btn')}
                    <span
                      aria-hidden='true'
                      class='block ms-0.5 rtl:rotate-180'
                    >
                      &rarr;
                    </span>
                  </>
                )}
              </a>
            </div>
          </div>
        </article>
      ))
    }
  </div>
</section>
