---
import { t } from 'i18next'
import { exhibitors_1 } from '../../data/constans_logos'
---

<section
  class='container mx-auto px-4 py-10 text-center text-[#6C757D] font-bold uppercase'
>
  <div
    class='square_blue text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
  >
    {t('home.title-sponsors')}
  </div>
  <div class='grid grid-cols-4 place-items-center sm:flex justify-center gap-6'>
    <a
      href='https://mx.mitsubishielectric.com/fa/en/'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/img/mitsubishi.webp'
        class='img-fluid'
        loading='lazy'
        width='230'
        alt='patrocinador ITM Mitsubishi'
      />
    </a>
    <a href='http://www.misumimex.com/' target='_blank' rel='noreferrer'>
      <img
        src='/img/misumi.webp'
        width='230'
        alt='patrocinador ITM MISUMI'
        loading='lazy'
      />
    </a>
    <a href='https://www.se.com/ww/en/' target='_blank' rel='noreferrer'>
      <img
        src='/img/logoSchneider.webp'
        width='200'
        alt='patrocinador ITM schneider electric'
        loading='lazy'
      />
    </a>

    <a
      href='https://www.siemens.com/mx/es.html'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/img/siemens.webp'
        width='200'
        alt='patrocinador ITM schneider electric'
        loading='lazy'
      />
    </a>
  </div>

  <div
    class='square_blue text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto my-10'
  >
    {t('home.gold')}
  </div>
  <div class='grid grid-cols-4 place-items-center sm:flex justify-center gap-6'>
    <a
      href='https://www.cisco.com/c/es_mx/index.html'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/exhibitors/gold_cisco.webp'
        class='img-fluid'
        loading='lazy'
        width='230'
        alt='CISCO'
      />
    </a>
    <a href='https://isat.com.mx/' target='_blank' rel='noreferrer'>
      <img
        src='/exhibitors/gold_isat.webp'
        width='230'
        alt='ISAT'
        loading='lazy'
      />
    </a>
    <a
      href='https://www.riobravosystems.com/es/rio-bravo-systems_es/'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/exhibitors/gold_RioBravoSystems.webp'
        width='200'
        alt='patrocinador ITM schneider electric'
        loading='lazy'
      />
    </a>
  </div>

  <div
    class='square_blue text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto my-10'
  >
    {t('home.silver')}
  </div>
  <div class='grid grid-cols-4 place-items-center sm:flex justify-center gap-6'>
    <a href='https://www.nokia.com/es_int/' target='_blank' rel='noreferrer'>
      <img
        src='/exhibitors/silver_Nokia.webp'
        class='img-fluid'
        loading='lazy'
        width='230'
        alt='Nokia'
      />
    </a>
    <a href='https://www.telcel.com/empresas' target='_blank' rel='noreferrer'>
      <img
        src='/exhibitors/silver_telcel.webp'
        class='img-fluid'
        loading='lazy'
        width='230'
        alt='Telcel'
      />
    </a>

  </div>
  <div
    class='square_blue text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
  >
    Content Partner
  </div>
  <div class='grid place-items-center justify-center gap-6'>
    <div class='grid md:flex gap-6 items-center'>
      <a
        href='https://www.paloaltonetworks.com.mx/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/paloalto.webp'
          class='img-fluid'
          loading='lazy'
          width='270'
          alt='Palo Alto Networks'
        />
      </a>
      <a href='https://ientc.com/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/ientc_2.webp'
          class='img-fluid'
          loading='lazy'
          width='300'
          alt='ientc'
        />
      </a>
    </div>
    <div class='grid md:flex gap-6'>
      <a
        href='https://www.extremenetworks.com/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/img/extreme-networks.webp'
          class='img-fluid'
          loading='lazy'
          width='250'
          alt='extremenetworks'
        />
      </a>
      <a href='http://www.cassa.com.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/img/cassalogo.webp'
          class='img-fluid'
          loading='lazy'
          width='270'
          alt='patrocinador CASSA'
        />
      </a>
    </div>
  </div>
  <div
    class='mt-10 square_red text-center font-bold text-xl lg:text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
  >
    {t('menu.exhibitors_2_1')}
  </div>
  <!-- Se comenta carrucel de logos porque no les gusto :/  -->
  <!-- <Marquee partners={exhibitors_1} isLeftToRight={true} />
  <Marquee partners={exhibitors_2} isLeftToRight={false} /> -->

  <div
    class='grid grid-cols-3 md:grid-cols-6 gap-6 md:m-10 sm:m-10 justify-evenly'
  >
    {
      exhibitors_1.map((logo, index) => (
        <div class='flex justify-center items-center h-full'>
          <img
            src={logo.src}
            alt={logo.alt}
            class='w-auto'
            style={{ width: logo.width }}
          />
        </div>
      ))
    }
  </div>
  <p class='text-right font-extrabold text-2xl uppercase text-black'>
    {t('home.others')}...
  </p>
</section>
