---
import { t } from 'i18next'
import {
  alliesStrategic,
  media_1,
  media_2,
  media_3,
} from '../../data/constans_logos'
import { directory } from '../../data/constans_directory_2025'
---

<div class='relative'>
  <img
    data-aos='fade-right'
    data-aos-duration='1000'
    src='/img/e_azul.webp'
    alt='logo ITM'
    class='w-40 absolute z-0'
  />
  <img
    data-aos='fade-left'
    data-aos-duration='1500'
    src='/img/e_rojo.webp'
    alt='logo ITM'
    class='w-60 absolute z-0 right-20 top-72'
  />
  <div
    class='container mx-auto px-4 py-10 text-center text-[#6C757D] font-bold uppercase relative z-10'
  >
    <!-- PATROCINADORES PLATINO  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1200'
    >
      {t('home.title-sponsors')}
    </div>
    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2 *:flex *:items-center'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      <a href='http://www.misumimex.com/' target='_blank' rel='noreferrer'>
        <img
          src='/img/misumi.webp'
          width='180'
          alt='patrocinador ITM MISUMI'
          loading='lazy'
        />
      </a>
      <a href='https://www.se.com/ww/en/' target='_blank' rel='noreferrer'>
        <img
          src='/img/logoSchneider.webp'
          width='180'
          alt='patrocinador ITM schneider electric'
          loading='lazy'
        />
      </a>
      <a
        href='https://www.siemens.com/mx/es.html'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/img/siemens.webp'
          width='200'
          alt='patrocinador ITM schneider electric'
          loading='lazy'
        />
      </a>
      {
        /* 
      <a
      href='https://mx.mitsubishielectric.com/fa/en/'
      target='_blank'
      rel='noreferrer'
    >
      <img
        src='/img/mitsubishi.webp'
        class='img-fluid'
        loading='lazy'
        width='250'
        alt='patrocinador ITM Mitsubishi'
      />
      </a>
      */
      }
    </div>

    <!-- PATROCINADORES DIAMANTE  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1200'
    >
      {t('home.sponsor_diamond')}
    </div>
    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2 *:flex *:items-center'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      <a
        href='https://www.beckhoff.com/es-mx/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/beckhoff_nuevo.webp'
          width='180'
          alt='patrocinador ITM MISUMI'
          loading='lazy'
        />
      </a>
      <a
        href='https://mx.mitsubishielectric.com/es/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/img/mitsubishi_sin_elogan.webp'
          width='180'
          alt='patrocinador ITM MISUMI'
          loading='lazy'
        />
      </a>
    </div>

    <!-- PATROCINADORES SILVER  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1200'
    >
      {t('home.silver')}
    </div>
    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2 *:flex *:items-center'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      <a
        href='https://www.telcel.com/empresas'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/img/telcel_empresas.webp'
          width='180'
          alt='Telcel Empresas'
          loading='lazy'
        />
      </a>
    </div>
    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2 *:flex *:items-center'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      <a href='https://www.autodesk.com/mx' target='_blank' rel='noreferrer'>
        <img
          src='/img/autodesk.webp'
          width='250'
          alt='Telcel Empresas'
          loading='lazy'
        />
      </a>
      <a href='https://www.nokia.com/' target='_blank' rel='noreferrer'>
        <img
          src='/img/nokia.webp'
          width='220'
          alt='Telcel Empresas'
          loading='lazy'
        />
      </a>
    </div>

    <!-- PATROCINADORES CONFERENCIAS  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1200'
    >
      {t('home.sponsor_confereces')}
    </div>
    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2 *:flex *:items-center'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      <a href='https://mexico.nttdata.com/' target='_blank' rel='noreferrer'>
        <img src='/img/nttdata.png' width='280' alt='NTTDATA' loading='lazy' />
      </a>
    </div>

    <!-- Content Partner   -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1200'
    >
      Content Partner
    </div>
    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2 *:flex *:items-center'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      <a href='https://www.roue.com.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/img/roue.webp'
          width='180'
          alt='Telcel Empresas'
          loading='lazy'
        />
      </a>
      <a href='https://www.infor.com/latam' target='_blank' rel='noreferrer'>
        <img src='/img/infor.webp' width='180' alt='Infor' loading='lazy' />
      </a>
      <a
        href='https://www.vpinstruments.com/latam/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/img/VPInstruments.webp'
          width='180'
          alt='VP Instruments'
          loading='lazy'
        />
      </a>
      <a href='https://htd.com.mx/' target='_blank' rel='noreferrer'>
        <img src='/img/HTD.webp' width='180' alt='HTD' loading='lazy' />
      </a>
    </div>

    <!-- EXPOSITORES CONFIRMADOS  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {t('home.exhibitor_confirmed')}
    </div>
    <div
      class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-1'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {
        directory.map((exhibitor) => (
          <a href={exhibitor.webpage} target='_blank' rel='noreferrer'>
            <img
              src={exhibitor.logo}
              alt={exhibitor.name}
              width={exhibitor.width}
            />
          </a>
        ))
      }
    </div>
    <p class='text-right font-extrabold text-2xl uppercase text-white'>
      {t('home.others')}...
    </p>
    <!-- ALIADOS ESTRATEGICOS  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {t('home.strategic_allies')}
    </div>
    <div
      class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-1'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {
        alliesStrategic.map((ally, index) => (
          <a href={ally.link} target='_blank' rel='noreferrer'>
            <img src={ally.src} alt={ally.alt} width={ally.width} />
          </a>
        ))
      }
    </div>

    <!-- SOCIOS DE MEDIOS PLATINO  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {t('home.platinum_media')}
    </div>
    <div
      class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {
        media_2.map((ally, index) => (
          <a href={ally.link} target='_blank' rel='noreferrer'>
            <img src={ally.src} alt={ally.alt} width={ally.width} />
          </a>
        ))
      }
    </div>

    <!-- SOCIOS DE MEDIOS ORO  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {t('home.gold_media_partners')}
    </div>
    <div
      class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {
        media_1.map((ally, index) => (
          <a href={ally.link} target='_blank' rel='noreferrer'>
            <img src={ally.src} alt={ally.alt} width={ally.width} />
          </a>
        ))
      }
    </div>

    <!-- SOCIOS DE MEDIOS SILVER  -->
    <div
      class='mt-20 text-center text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {t('home.silver_media_partners')}
    </div>
    <div
      class='mt-5 grid grid-cols-[repeat(auto-fit,_minmax(150px,_max-content))] justify-center *:grid *:place-items-center *:w-full *:h-full gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-2'
      data-aos='fade-up'
      data-aos-duration='1500'
    >
      {
        media_3.map((ally, index) => (
          <a href={ally.link} target='_blank' rel='noreferrer'>
            <img src={ally.src} alt={ally.alt} width={ally.width} />
          </a>
        ))
      }
    </div>

    <!-- Patrocinador de Experiencia Digital  
    <div
      class='text-center font-bold text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto mt-20'
    >
      {t('home.experience-sponsor')}
    </div>
    <div
      class='mt-5 grid sm:grid-cols-4 place-items-center sm:flex justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-4 *:flex *:items-center'
    >
      <a
        href='https://www.boschrexroth.com/es/mx/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/rexroth.webp'
          width='270'
          alt='patrocinador de experiencia digital ITM Rexroth'
          loading='lazy'
        />
      </a>
    </div>
    -->

    <!-- Patrocinador Gold  
    <div
      class='text-center font-bold text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto my-10'
    >
      {t('home.gold')}
    </div>
    <div
      class='grid sm:grid-cols-4 place-items-center sm:flex justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-4 *:flex *:items-center'
    >
      <a
        href='https://www.cisco.com/c/es_mx/index.html'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/cisco.webp'
          class='img-fluid'
          loading='lazy'
          width='250'
          alt='CISCO'
        />
      </a>
      <a href='https://isat.com.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/isat.webp'
          width='250'
          alt='ISAT'
          loading='lazy'
        />
      </a>
      <a
        href='https://www.riobravosystems.com/es/rio-bravo-systems_es/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/rio_bravo_systems.webp'
          width='270'
          alt='patrocinador ITM schneider electric'
          loading='lazy'
        />
      </a>
    </div>
    -->

    <!-- Patrocinador Silver 
    <div
      class='text-center font-bold text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto my-10'
    >
      {t('home.silver')}
    </div>
    <div
      class='grid sm:grid-cols-4 place-items-center sm:flex justify-center gap-6 mb-8 *:bg-white *:rounded-lg *:shadow-lg *:p-4 *:flex *:items-center'
    >
      <a href='https://www.nokia.com/es_int/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/silver_Nokia.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='Nokia'
        />
      </a>
      <a
        href='https://www.telcel.com/empresas'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/silver_telcel.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='Telcel'
        />
      </a>
    </div>
    -->

    <!-- Content Partners 
    <div
      class='mt-10 text-center font-bold text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
    >
      Content Partners
    </div>

    <div
      class='mt-5 flex flex-wrap justify-center gap-6 *:bg-white *:rounded-lg *:shadow-lg *:p-4 *:flex *:items-center'
    >
      <a
        href='https://www.paloaltonetworks.com.mx/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/paloalto.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='Palo Alto Networks'
        />
      </a>
      <a href='https://hexagon.com/es' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/hexagon.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='hexagon'
        />
      </a>
      <a href='https://ientc.com/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/ientc_v2.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='ientc'
        />
      </a>
      <a href='https://hitachi.com.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/hitachi_inspire.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='hitachi'
        />
      </a>
      <a href='https://hitachi.com.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/hitachi_energy_v2.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='hitachi'
        />
      </a>
      <a href='https://quartux.com/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/quartux.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='quartux'
        />
      </a>
      <a
        href='https://www.extremenetworks.com/'
        target='_blank'
        rel='noreferrer'
      >
        <img
          src='/exhibitors/extreme.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='extremenetworks'
        />
      </a>
      <a href='http://www.cassa.com.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/img/cassalogo.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='patrocinador CASSA'
        />
      </a>
      <a href='https://vitaenergy.mx/' target='_blank' rel='noreferrer'>
        <img
          src='/exhibitors/vita_energy_v3.webp'
          class='img-fluid'
          loading='lazy'
          width='180'
          alt='vita energy'
        />
      </a>
    </div>

    <div
      class='mt-10 text-center font-bold text-3xl xl:text-4xl py-3 px-5 uppercase text-white w-fit mx-auto'
    >
      {t('menu.exhibitors_2_1')}
    </div>
    -->

    <!-- Se comenta carrucel de logos porque no les gusto :/  -->
    <!-- <Marquee partners={exhibitors_1} isLeftToRight={true} />
    <Marquee partners={exhibitors_2} isLeftToRight={false} /> 
    <div
      class='grid grid-cols-3 md:grid-cols-6 gap-6 md:m-10 sm:m-10 justify-evenly *:bg-white *:rounded-lg *:shadow-lg *:p-4 *:flex *:items-center'
    >
      {
        exhibitors_1.map((logo, index) => (
          <div class='flex justify-center items-center h-full'>
            <img
              src={logo.src}
              alt={logo.alt}
              class='w-auto'
              style={{ width: logo.width }}
            />
          </div>
        ))
      }
    </div>
    <p class='text-right font-extrabold text-2xl uppercase text-black'>
      {t('home.others')}...
    </p>
    -->
  </div>
</div>
