---
import i18n, { t } from 'i18next'
// @ts-ignore
import { localizePath } from 'astro-i18next'

import RedButton from '../shared/RedButton.astro'
---

<section
  class='bg-black bg-cover bg-center bg-no-repeat bg-fixed text-white px-5 md:px-10 lg:px-20 py-10 grid md:grid-cols-3 gap-20'
>
  <div class='col-span-2'>
    <p>INDUSTRIAL TRANSFORMATION MEXICO 2024</p>
    <div class='my-3 square_blue w-full font-bold text-2xl md:text-6xl px-4'>
      {t('profile.subtitle')}
    </div>
    <p class='text-2xl pt-2' set:html={t('profile.description')} />
    <ul
      class='flex flex-col md:flex-row flex-wrap gap-5 md:pl-5 pt-10 items-center w-full'
    >
      <RedButton
        href={i18n.language === 'en'
          ? '/files/Factsheet_ITM_ENG_v2_120124.pdf'
          : '/files/Factsheet_ITM_2024_AC_ESP_VF_08-03-2024.pdf'}
        withIcon={true}
        openInNewTab={true}
      >
        Factsheet 2024
      </RedButton>
      <RedButton
        href='/files/Floorplan_ITM_2024_18_09_2024.pdf'
        withIcon={true}
        openInNewTab={true}
      >
        {t('menu.exhibitors_5')}
      </RedButton>
      <RedButton
        href='/files/ITM2024-SpaceAgreement-ED-jun.pdf'
        withIcon={true}
        openInNewTab={true}
      >
        {t('menu.exhibitors_6')}
      </RedButton>
      <RedButton href={localizePath('/patrocinios')} withIcon={true}>
        {t('menu.exhibitors_7')}
      </RedButton>
    </ul>
  </div>
  <div class='p-12 bg-[url(/img/bg_videoExpositor.webp)] bg-cover bg-no-repeat'>
    <video
      src='/videos/ITM_2023_exhibitor.mp4'
      autoplay
      loop
      muted
      class='rounded-lg'></video>
  </div>
</section>
