---
import i18n, { t } from 'i18next'
// @ts-ignore
import { localizePath } from 'astro-i18next'

import RedButton from '../shared/RedButton.astro'
---

<section
  class='bg-black bg-cover bg-center bg-no-repeat bg-fixed text-white px-5 md:px-10 lg:px-20 py-10 grid md:grid-cols-2 gap-20'
>
  <div>
    <p>INDUSTRIAL TRANSFORMATION MEXICO</p>
    <div class='my-3 square_blue w-full font-bold text-2xl md:text-6xl px-4'>
      {t('profile.subtitle')}
    </div>
    <p class='text-2xl pt-2' set:html={t('profile.description')} />
    <ul
      class='flex flex-col md:flex-row flex-wrap gap-5 md:pl-5 pt-10 items-center w-full'
    >
      <RedButton
        href={i18n.language === 'en'
          ? '/files/ITM-FACTSHEET-ENG-V2-2025_compressed.pdf'
          : '/files/ITM-FACTSHEET-ESP-V2-2025_compressed.pdf'}
        withIcon={true}
        openInNewTab={true}
      >
        Factsheet 2025
      </RedButton>
      <RedButton
        href={i18n.language === 'es'
          ? '/plano-itm-2025/'
          : '/en/plano-itm-2025/'}
        withIcon={true}
        openInNewTab={true}
      >
        {t('menu.exhibitors_5')}
      </RedButton>
      <RedButton
        href='/files/ITM2025-SpaceAgreement.pdf'
        withIcon={true}
        openInNewTab={true}
      >
        {t('menu.exhibitors_6')}
      </RedButton>
      <RedButton href={localizePath('/patrocinios')} withIcon={true}>
        {t('menu.exhibitors_7')}
      </RedButton>
    </ul>
  </div>
  <div
    class='p-12 bg-[url(/img/bg_videoExpositor.webp)] bg-cover bg-no-repeat my-auto'
  >
    <video
      src={i18n.language === 'es'
        ? '/videos/itm_resumen_2024.mp4'
        : '/videos/itm_resumen_2024_eng.mp4'}
      autoplay
      loop
      muted
      class='rounded-lg'></video>
  </div>
</section>
